@use '../../theme/config' as *;

.tag {
  --tag-background: var(--color-brand-100);
  --tag-background-hover: var(--color-brand-50);
  --tag-height: $size-line;

  @include label;
  @include text-truncate;

  background-color: var(--tag-background);
  border-radius: $border-radius-pill;
  color: var(--color-brand-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-feature-settings: 'tnum';
  font-variant: tabular-nums;
  line-height: var(--tag-height);
  text-decoration: none;
  word-break: break-word;
  margin: 0 $size-1 $size-1 0;
  padding: 0 ($size-1 * 1.5);
  outline: none;
  position: relative;
  transition: background-color $duration-xxs $easing-base;
  vertical-align: baseline; // or middle
  max-width: $size-2 * 10;
  min-width: $size-2p5;
  height: var(--tag-height);

  &[href]:hover {
    background: var(--tag-background-hover);
    color: var(--color-brand-text);
    text-decoration: none;
  }

  &:focus-visible {
    box-shadow: var(--box-shadow-focus-outline);
    outline: none;
  }
}

.tag.is-error {
  background: var(--color-error-background);
  color: var(--color-error-text);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $size-1;

  @supports not (gap: 4px) {
    > * {
      margin-bottom: $size-1;
    }

    .tag + .tag {
      margin-left: $size-1;
    }
  }
}
