{% assign social = site.data.social-networks %}
{% assign labels = site.data.i18n.labels %}

<span class="btn btn-social facebook-like fb-like" data-href="{{ page.url | absolute_url | strip_index }}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></span>

<div class="dropup is-social-tools">
  <button class="btn btn-share" id="btn-share" type="button" data-toggle="dropdown" data-display="static" aria-expanded="false" aria-label="{{ labels.shareCtaInterest[page.lang] }}" title="{{ labels.shareCtaInterest[page.lang] }}">
    <svg class="icon icon-share" role="presentation">
      <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-share"></use>
    </svg>
  </button>

  <div class="social-tools-dropdown dropdown-menu dropdown-menu-right">
    <img class="dropup__img" src="{{ site.assets }}/img/components/social-tools/kitty.jpg" srcset="{{ site.assets }}/img/components/social-tools/kitty.jpg 1x, {{ site.assets }}/img/components/social-tools/kitty@2x.jpg 2x" alt="{{ labels.share80[page.lang] }}">
    <h3>{{ labels.shareCtaCats[page.lang] }}</h3>

    <div class="social-tools-group is-first" role="group" aria-label="{{ labels.shareNetworks[page.lang] }}">

      <button class="btn btn-social facebook" data-href="https://www.facebook.com/share.php?u={{ page.url | absolute_url | url_encode }}&amp;title={{ page.title | url_encode }}" aria-label="{{ social.facebook.name[page.lang] }}" title="{{ social.facebook[page.lang] }}">
        <svg class="icon icon-social-facebook-original" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-social-facebook-original"></use>
        </svg>
        {{ labels.shareCta[page.lang] }}
      </button>

      <button class="btn btn-social vk" data-href="http://vk.com/share.php?url={{ page.url | absolute_url | url_encode }}" aria-label="{{ social.vk.name[page.lang] }}" title="{{ social.vk.name[page.lang] }}">
        <svg class="icon icon-social-vk" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-social-vk"></use>
        </svg>
      </button>

      <button class="btn btn-social twitter is-last" data-href="https://twitter.com/home?status='{{ page.title | url_encode }}'+{{ page.url | absolute_url | url_encode }}" aria-label="{{ social.twitter.name[page.lang] }}" title="{{ social.twitter.name[page.lang] }}">
        <svg class="icon icon-social-twitter" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-social-twitter"></use>
        </svg>
      </button>

    </div>{% comment %} Share buttons first line {% endcomment %}

    <div class="social-tools-group" role="group" aria-label="{{ labels.shareNetworks[page.lang] }}">

      <button class="btn btn-social telegram" data-href="https://telegram.me/share/url?url={{ page.url | absolute_url | url_encode }}" aria-label="{{ social.telegram.name[page.lang] }}" title="{{ social.telegram.name[page.lang] }}">
        <svg class="icon icon-social-telegram" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-social-telegram"></use>
        </svg>
      </button>

      <button class="btn btn-social pocket" data-href="https://getpocket.com/edit.php?url={{ page.url | absolute_url | url_encode }}" aria-label="{{ social.pocket.name[page.lang] }}" title="{{ social.pocket.name[page.lang] }}">
        <svg class="icon icon-social-pocket" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-social-pocket"></use>
        </svg>
      </button>

      <button class="btn btn-social whatsapp" data-href="whatsapp://send?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" aria-label="WhatsApp" title="WhatsApp">
        <svg class="icon icon-social-whatsapp" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-social-whatsapp"></use>
        </svg>
      </button>

      <button class="btn btn-social linkedin" data-href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&amp;title={{ page.title | url_encode }}" aria-label="{{ social.linkedin.name[page.lang] }}" title="{{ social.linkedin.name[page.lang] }}">
        <svg class="icon icon-social-linkedin" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-social-linkedin"></use>
        </svg>
      </button>

      <button class="btn btn-social mail is-last" data-href="mailto:?subject={{ page.title | url_encode }}&amp;body={{ page.url | absolute_url | url_encode }}" aria-label="{{ social.email.name[page.lang] }}" title="{{ social.email.name[page.lang] }}">
        <svg class="icon icon-label-email" role="presentation">
          <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-label-email"></use>
        </svg>
      </button>

    </div>
  </div>
</div>
