---
lang: en
title: 'SuperMark: web design, development, digital marketing. One person works for three'
description: 'You can hire just one generalist to develop and maintain a website, launch and optimize advertising campaigns, get customers from search results and social media.'
permalink: /en
hreflang-ru: /
recent-work: /en/projects/2022-friends
home: true
layout: default
styles-addons: ['/css/front.css']
classes: 'p-home is-highlight has-main-header'
date: 2023-01-15
---

<main class="intro carousel slide" id="intro" data-ride="carousel">
  <article class="carousel-inner" itemscope itemtype="http://schema.org/Article">
    {% comment %} COVER {% endcomment %}
    <header class="intro-section is-highlight carousel-item active">
      <span class="sr-only" itemprop="author">Vladimir Nikishin</span>
      <span class="sr-only" itemprop="publisher">Vladimir Nikishin</span>
      <span class="sr-only" itemprop="datePublished">{{ page.date | date: '%Y-%m-%d' }}</span>

      <picture class="picture-main">
        <source srcset="{{ site.assets }}/img/pages/front/home-cinemagraph-md.gif" media="(min-width: 768px)">
        <img class="img-main" src="{{ site.assets }}/img/pages/front/home-cinemagraph.gif" itemprop="image" alt="Experienced webmaster and marketer">
      </picture>

      <h1 class="intro-section-title" itemprop="headline">
        <strong>Jack of&nbsp;all trades.</strong> Full stack webmaster
      </h1>
      <p itemprop="description">
        Are you not interested in&nbsp;a&nbsp;team of&nbsp;marketers, designers, and developers? But you still need site maintenance, promotion, new landing pages? High-quality service at&nbsp;a&nbsp;reasonable price? Replace the department with one outsourced generalist and you will be&nbsp;happy...
      </p>

      {% comment %} CTA Button {% endcomment %}
      {% include cta.html %}

      {% comment %} CTA Secondary {% endcomment %}
      <a class="link-next" href="#intro" data-slide-to="1">Pros & con</a>
    </header>

    {% comment %} BENEFITS AND MINUS {% endcomment %}
    <section class="intro-section is-benefits carousel-item" itemprop="articleSection">
      <header class="main-header is-benefits">
        <figure>
          <img src="{{ site.assets }}/img/pages/page/benefits/img-benefits-of-supermark-development.png" srcset="{{ site.assets }}/img/pages/page/benefits/img-benefits-of-supermark-development.png 1x, {{ site.assets }}/img/pages/page/benefits/img-benefits-of-supermark-development@2x.png 2x" alt="Remote webmaster: pros and con">
        </figure>
        <h2>Pros and con</h2>
      </header>

      <div class="intro-section-body">
        <div class="intro-section-copy">
          <p><strong>Working with remote webmasters is&nbsp;beneficial.</strong> We&nbsp;are not paid vacation and medical insurance. The employer need not buy computers for&nbsp;us and set up&nbsp;our workspace. We&nbsp;pay taxes ourselves. Control is&nbsp;simple with project management tools, regular video conferences and demonstration results. There is&nbsp;just one minus...</p>
        </div>
        <ul class="intro-section-sidebar list-pros-cons">
          <li class="item-pro">System approach.</li>
          <li class="item-pro">Ingenuity.</li>
          <li class="item-pro">Talents and experience in&nbsp;all areas of&nbsp;the industry.</li>
          <li class="item-con">We&nbsp;don’t sit near.</li>
        </ul>
      </div>

      {% comment %} Footer {% endcomment %}
      <nav class="intro-section-footer">
        <a class="link-modal" href="/en/benefits" data-target="#modal" data-toggle="modal" data-src="external">
          Learn more
        </a>
        <a class="link-next" href="#intro" data-slide-to="2">
          Work
        </a>

        {% comment %} CTA Button {% endcomment %}
        {% include cta.html %}
      </nav>
    </section>

    {% comment %} SERVICES {% endcomment %}
    <section class="intro-section is-services carousel-item" itemprop="articleSection">
      <header class="main-header is-services">
        <figure>
          <img src="{{ site.assets }}/img/pages/page/services/img-services-design-marketing.png" srcset="{{ site.assets }}/img/pages/page/services/img-services-design-marketing.png 1x, {{ site.assets }}/img/pages/page/services/img-services-design-marketing@2x.png 2x" alt="One-man-army. Full stack webmaster">
        </figure>
        <h2>Work</h2>
      </header>

      <div class="intro-section-body">
        <div class="intro-section-copy">
          <p><strong>Only one person can take on&nbsp;the essentials of&nbsp;digital marketing.</strong> Design, programming, campaign management, analytics. HTML, CSS and JavaScript. WordPress, Drupal, and SSG. Banners and landing pages. Search engine optimization, social media marleting and email marketing. All at a&nbsp;reasonable price.</p>
        </div>
        <div class="intro-section-sidebar">
          <a class="slideshow" href="/en/projects/2022-friends" title="Project examples">
            <h3 class="slideshow-item is-title"><b>Project</b><br>examples</h3>
            <img class="slideshow-item is-2nd" src="{{ site.assets }}/img/pages/front/services-fxc.png" srcset="{{ site.assets }}/img/pages/front/services-fxc.png 1x, {{ site.assets }}/img/pages/front/services-fxc@2x.png 2x" alt="Projects: design, development, marketing">
            <img class="slideshow-item is-3d" src="{{ site.assets }}/img/pages/front/services-polylog.png" srcset="{{ site.assets }}/img/pages/front/services-polylog.png 1x, {{ site.assets }}/img/pages/front/services-polylog@2x.png 2x" alt="Content marketing + SMM">
            <img class="slideshow-item is-4th" src="{{ site.assets }}/img/pages/front/services-colt.png" srcset="{{ site.assets }}/img/pages/front/services-colt.png 1x, {{ site.assets }}/img/pages/front/services-colt@2x.png 2x" alt="UX/UI, promotion">
          </a>
        </div>
      </div>

      {% comment %} Footer {% endcomment %}
      <nav class="intro-section-footer">
        <a class="link-modal" href="/en/services" data-target="#modal" data-toggle="modal" data-src="external">
          Learn more
        </a>
        <a class="link-next" href="#intro" data-slide-to="3">
          Prices
        </a>

        {% comment %} CTA Button {% endcomment %}
        {% include cta.html %}
      </nav>

    </section>

    {% comment %} PRICES {% endcomment %}
    <section class="intro-section is-prices carousel-item" itemprop="articleSection">
      <div class="intro-section-body">

        <h2 class="intro-section-title">Prices</h2>

        {% comment %} Hourly {% endcomment %}
        <div class="plan is-hourly-wage">
          <h3 class="plan-title">“Pay As&nbsp;You&nbsp;Go”</h3>
          <div class="plan-body">
            <div class="plan-price">
              <span class="plan-amount is-small">$24</span>
              <span class="plan-rubles">
                .99 / <br>
                hour
              </span>
            </div>
            <p class="plan-value">
              One-time works: banners, articles, etc. Minimum 8&nbsp;hours.
            </p>
            <a class="plan-footer" href="/en/contact" data-target="#modal" data-toggle="modal" data-src="external">
              Good choice!
            </a>
          </div>
        </div>

        {% comment %} 100 hours {% endcomment %}
        <div class="plan is-100-hours">
          <h3 class="plan-title">“100&nbsp;hours” plan</h3>
          <div class="plan-body">
            <div class="plan-price">
              <span class="plan-amount is-small">$1599</span>
            </div>
            <p class="plan-value">
              In&nbsp;100 hours I&nbsp;will make up&nbsp;to&nbsp;30&nbsp;banners, up&nbsp;to&nbsp;6&nbsp;pages, etc.
            </p>
            <a class="plan-footer" href="/en/contact" data-target="#modal" data-toggle="modal" data-src="external">
              OK :)
            </a>
          </div>
        </div>

        {% comment %} Full Time {% endcomment %}
        <div class="plan is-full-time">
          <h3 class="plan-title">“Full-time”</h3>
          <div class="plan-body">
            <div class="plan-price">
              <span class="plan-amount is-small">$2399</span>
              <span class="plan-rubles">
                / month
              </span>
            </div>
            <p class="plan-value">
              I&nbsp;work<br>
              21&nbsp;days a&nbsp;month<br>
              for 8&nbsp;hours.
            </p>
            <a class="plan-footer" href="/en/contact" data-target="#modal" data-toggle="modal" data-src="external">
              Exactly what is&nbsp;needed.
            </a>
          </div>
        </div>

      </div>

      {% comment %} Footer {% endcomment %}
      <nav class="intro-section-footer">
        <a class="link-modal" href="https://trello.com/b/DpTixwxG" rel="noopener noreferrer" target="_blank">
          Action plan (in Russian)
        </a>
        <a class="link-next" href="#intro" data-slide-to="4">
          About
        </a>

        {% comment %} CTA Button {% endcomment %}
        {% include cta.html %}
      </nav>
    </section>

    {% comment %} ABOUT {% endcomment %}
    <section class="intro-section is-about carousel-item" itemprop="articleSection">
      <header class="main-header is-about">
        <figure>
          <img src="{{ site.assets }}/img/pages/page/about/img-about-marketing-agency.png" srcset="{{ site.assets }}/img/pages/page/about/img-about-marketing-agency.png 1x, {{ site.assets }}/img/pages/page/about/img-about-marketing-agency@2x.png 2x" alt="Vladimir Nikishin & Co">
        </figure>
        <h2>
          About SuperMark
        </h2>
      </header>

      <div class="intro-section-body">
        <div class="intro-section-copy">
          <p><strong>SuperMark is&nbsp;a&nbsp;trademark of&nbsp;Vladimir Nikishin</strong>. A&nbsp;journalist by&nbsp;education. I&nbsp;started on&nbsp;the editorial boards of&nbsp;the largest newspapers in&nbsp;Vladivostok, Russia.&nbsp;20&nbsp;years in&nbsp;the digital industry. Over the years in&nbsp;the&nbsp;IT industry, I&nbsp;have gained skills in&nbsp;all areas of&nbsp;production and promotion of&nbsp;internet projects: design, front-end development, online marketing.</p>
        </div>

        {% comment %} Stat {% endcomment %}
        <div class="intro-section-sidebar">
          <div class="card card-stat compact">
            <h3 class="card-header">1<small>+ n</small></h3>
            <div class="card-block">A&nbsp;team is&nbsp;going to&nbsp;large projects.</div>
          </div>
        </div>
      </div>

      {% comment %} Footer {% endcomment %}
      <nav class="intro-section-footer">
        <a class="link-modal" href="/en/about" data-target="#modal" data-toggle="modal" data-src="external">
          Learn more
        </a>

        {% comment %} CTA Button {% endcomment %}
        {% include cta.html %}
      </nav>
    </section>
  </article>

  {% comment %} LIKE & SHARE {% endcomment %}
  <aside class="social-tools dropdown hidden">
    {% include social-tools/dropdown.html %}
  </aside>

  {% comment %} PAGER {% endcomment %}
  <nav class="carousel-pager">
    <a class="carousel-control prev" href="#intro" data-slide="prev" aria-label="Previous" title="Previous"></a>
    <div class="carousel-counter"></div>
    <div class="carousel-pager-hint">
      <svg class="icon-swipe" aria-hidden="true">
        <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-swipe"></use>
      </svg>
      Swipe
    </div>
    <a class="carousel-control next" href="#intro" data-slide="next" aria-label="Next" title="Next"></a>
  </nav>
</main>
