# ------------------------------------------------------------------------------
# JEKYLL
# ------------------------------------------------------------------------------

.jekyll-cache
.jekyll-metadata
_site
deploy.sh


# ------------------------------------------------------------------------------
# LOCAL DEVELOPMENT
# ------------------------------------------------------------------------------

# Source
/_data
/_includes
/src

# Working stuff
*~.*
/deploy.sh
/readme~.md

# Editors
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*_notes
.vscode/*

#Build generated
*.sass-cache*
.tmp
src/**/*.css
sprite.symbol.html

# Logs, backups
*.bak
*.log
*.swp

# Package managers
.npm
.yarn-integrity
.yarn/
jspm_packages
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# All yarn.lock files should be checked into source control

# Optional eslint cache
.eslintcache

# dotenv environment variables file(s)
.env
.env.*
!.env.example

# SYSTEM FILES
*.DS_Store
*.app

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
