// stylelint-disable order/order

.carousel-overflow {
  overflow-x: hidden;
  overflow-y: visible;
}

// -----------------------------------------------------------------------------
// SLIDE
// -----------------------------------------------------------------------------

.carousel-inner {
  @include media-breakpoint-up(md) {
    // Height of main picture + 48px top and bottom padding
    height: 591px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: ($size-line * 2);
  }
}

// Slide container

.carousel-item {
  background: $color-background-base;
  margin: 0;
  padding: 0 $size-2p5 5.5rem;

  // 100% height minus header height
  min-height: calc(100vh - 56px);

  @include media-breakpoint-up(md) {
    padding: 4.8rem 64px 12.6rem;
    min-height: 624px;
    height: round(math.div(872, 1024) * 100) * 1vh;
  }

  @include media-breakpoint-up(lg) {
    padding: 63px 24px 126px 40px;
    min-height: 591px;
    height: auto;
  }
}

// Choreography with translateX
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  transition: transform $duration-xl $easing;
  will-change: transform;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}


// -----------------------------------------------------------------------------
// PREV-NEXT
// -----------------------------------------------------------------------------

.carousel-pager {
  // Grey text and top border is for grey slides
  color: $color-ink-2ry;
  display: flex;
  align-items: center;
  padding-inline: $size-2p5 $size-2;
  opacity: 1;
  position: absolute;
  bottom: 8px;
  transition: color .4s, opacity .2s;
  width: 100%;
  height: $size-6;

  @include media-breakpoint-up(md) {
    display: none;

    // Show only on portrait layouts
    @media (min-device-height: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 0;

      // Center 'You can swipe' on tablets
      text-align: center;
      padding-block: $size-2 $size-line;
      padding-inline: $size-6;
      top: 662px;
      bottom: auto;
      height: auto;
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  // On color background
  .is-highlight & {
    color: $color-ink-light-base;
    background-color: $color-primary;
    bottom: 0;
    height: auto;

    @include media-breakpoint-down(sm) {
      padding-block: $size-2p5;
    }

    @include media-breakpoint-up(md) {
      border-top: 0;
    }
  }

  // Hide it on carousel transition to avoid flick on phones
  &.hidden {
    opacity: 0;

    @include media-breakpoint-up(md) {
      opacity: 1;
    }
  }
}

// Prev and Next

.carousel-control {
  font-size: 100%;
  line-height: 1.5;
  opacity: 1;
  outline: 0;
  text-align: left;
  text-shadow: none;
  width: auto;

  @include media-breakpoint-up(md) {
    width: $size-6;
    height: $size-6;

    &:hover {
      background-color: $color-ink-min;
      border-radius: $border-radius;
    }
  }
}

// Previous
.carousel-pager .prev {
  // Hide Prev on phones
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Next
.carousel-pager .next {
  color: $color-ink-2ry;
  text-decoration: none;

  @include media-breakpoint-up(md) {

    display: flex;
    align-items: center;
    justify-content: center;

    // Next on highlight (tablet)
    .is-highlight & {
      --icon-stroke: #{$color-ink-light-base};
    }
  }
}

// You can swipe
.carousel-pager-hint {
  display: none;

  .icon {
    --icon-fill: #{$color-ink-icon};

    margin-right: $size-1;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }
}

// You can swipe icon
.icon.is-swipe {
  fill: $color-ink-3ry;
  margin-top: -19px;
  position: absolute;
  top: 50%;
  left: 0;
  transition: fill .4s;
  width: 32px;
  height: 32px;

  .is-highlight & {
    fill: $color-ink-light-3ry;
  }
}

// Page counter
.carousel-counter {
  @extend .d-inline-block, .d-md-none;

  margin-right: auto;
}



// -----------------------------------------------------------------------------
// LAZY LOAD
// -----------------------------------------------------------------------------

.lazy-load {
  background: url('#{$site-assets}/img/base/media/spinner.gif') center center no-repeat;
}
