// stylelint-disable indentation, block-opening-brace-space-before, declaration-block-single-line-max-declarations, declaration-block-semicolon-newline-after

pre,
code {
  $code-background: lighten($color-secondary, 45%);
  background-color: $color-background-negative;
  border-radius: $border-radius;
  color: $color-secondary;
}

code {
  display: inline-block;
  padding: 1px ($spacer-sm / 2);

  &.d-block {
    margin-top: 1.1rem;
    padding: ($spacer-sm * 2);
  }
}

pre {
  font-size: 100%;
  margin-bottom: $spacer;
  padding: ($spacer-sm * 2);
  overflow-x: auto;

  @include media-breakpoint-up(md) {
    padding: 3rem ($spacer-sm * 3) 3.4rem;
  }

  > code {
    padding-right: 0;
    padding-left: 0;
  }
}

.code-attribute {
  color: $color-primary;
}

.code-content {
  color: $color-ink-light-muted;
}

.code-comment {
  color: lighten($violet, 20%);
}

// @see add-ons and

