@use 'sass:math';

// stylelint-disable indentation, block-opening-brace-space-before, declaration-block-single-line-max-declarations, declaration-block-semicolon-newline-after

pre,
code {
  background-color: $color-background-negative;
  border-radius: $border-radius;
  color: $color-2ry;
}

code {
  display: inline-block;
  padding: 1px math.div($size-1, 2);

  &.d-block {
    margin-top: 1.1rem;
    padding: ($size-1 * 2);
  }
}

pre {
  font-size: 100%;
  margin-bottom: $size-line;
  padding: ($size-1 * 2);
  overflow-x: auto;

  @include media-breakpoint-up(md) {
    padding: 3rem ($size-1 * 3) 3.4rem;
  }

  > code {
    padding-right: 0;
    padding-left: 0;
  }
}

.code-attribute {
  color: $color-brand-700;
}

.code-content {
  color: $color-ink-light-2ry;
}

.code-comment {
  color: lighten($magenta, 20%);
}

// @see add-ons and

