// eslint-disable order/order

// LIST CAPTIONS

.list-caption,
.main-body .list-caption {
  // Snap to list
  margin-bottom: 0;
  padding-bottom: 0;

  + ol,
  + ul {
    padding-top: 0;
  }
}

// -----------------------------------------------------------------------------
// ORDERED LISTS
// -----------------------------------------------------------------------------

.list.is-nested-ol,
.list.is-nested-ol ol {
  counter-reset: item;
  list-style-type: none;
}

.list.is-nested-ol {
  padding-left: 0;
}

.list.is-nested-ol ol {
  padding-left: 2rem;
  margin-bottom: 0 !important;
}

.list.is-nested-ol li {
  margin-bottom: .8rem;

  &::before {
    content: counters(item, '.') '. ';
    counter-increment: item;
  }
}

.is-toc {
  border-bottom: 1px solid $color-ink-border;
  padding-bottom: $size-line + .9rem;
  margin-bottom: $size-line * 2;
}

// CUSTOM MARKERS

// .list.is-upper-cyrillic li::before { content: counter(list-counter upper-cyrillic-ru) '. ';}

.list.is-upper-alpha {
  list-style: none;
  counter-reset: list-counter;
}

.list.is-upper-alpha li {
  counter-increment: list-counter;

  &::before {
    color: darken($color-2ry, 15%);
    content: counter(list-counter, upper-alpha) '. ';
    font-weight: bold;
  }
}


// -----------------------------------------------------------------------------
// UNORDERED LISTS
// -----------------------------------------------------------------------------

.main-body ul:not([class]) {
  padding-left: 1.3rem;

  li::marker {
    color: $color-brand-600;
    content: '\2022\00a0';
  }
}

// -----------------------------------------------------------------------------
// NESTED LISTS
// -----------------------------------------------------------------------------

.main-body li {
  > ol,
  > ul {
    padding-bottom: 0;
  }
}


// -----------------------------------------------------------------------------
// SPECIALS
// -----------------------------------------------------------------------------

// PROS AND CONS
.list-pros-cons {
  list-style: none;

  li {
    position: relative;
    margin-bottom: $size-1;
    padding-left: $size-3;

    &::before {
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: .2rem;
      left: 0;
      width: $size-2p5;
      height: $size-2p5;
    }

    @include media-breakpoint-up(md) {
      padding-left: 0;

      &::before {
        left: -24px;
      }
    }
  }
}

.item-pro::before {
  content: url('#{$site-assets}/img/base/content/icon-plus.svg');

  @media #{$mq-resolution-retina} {
    content: url('#{$site-assets}/img/base/content/icon-plus-hd.svg');
  }
}

.item-con::before {
  content: url('#{$site-assets}/img/base/content/icon-minus.svg');

  @media #{$mq-resolution-retina} {
    content: url('#{$site-assets}/img/base/content/icon-minus-hd.svg');
  }
}

// UNSTYLED
.list.is-unstyled {
  list-style: none;
  padding-left: 0;
}

// -----------------------------------------------------------------------------
// ARCHIVE
// -----------------------------------------------------------------------------

.list-archive,
.is-articles-list,
.is-archive-wrapper > ul {
  list-style: none;
  padding-left: 0;

  > li {
    @include text-truncate();
    margin-bottom: $size-1;
  }
}

.list-archive {
  margin-bottom: 3.2rem;
}

.list__date,
.list-archive-date,
.post-date {
  color: $color-ink-2ry;
}

.list-archive-date {
  margin-right: $size-1;
}

.is-articles-list li,
.is-archive-wrapper > ul > li {
  position: relative;
  padding-left: 9.6rem;
}

.is-articles-list .eyebrow {
  display: none;
}

.list__date,
.is-archive-wrapper > ul .post-date {
  position: absolute;
  top: 0;
  left: 0;
}


