figure {
  margin-bottom: $spacer;
}

iframe {
  border: 0;
  margin-bottom: $spacer;

  .border > & {
    margin-bottom: 0;
  }
}

.embed-responsive {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
}

// Border
.border,
%border {
  // Bootstrap override
  border: 0 !important;
  border-radius: $border-radius-sm;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .06);

  // inline-block should be avoided because it adds extra space around element
  display: table;
  position: relative;
  overflow: hidden;
  min-height: 1px;

  &::before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
    border-radius: $border-radius-sm;
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &:empty {
    display: none;
  }
}

.border {
  margin-bottom: 2.4rem;
}
