//------------------------------------------------------------------------------
// VERTICAL RHYTHM
//------------------------------------------------------------------------------

// stylelint-disable selector-list-comma-newline-after

// ВВОДНЫЕ ДАННЫЕ

// 1) Для функции или миксина, рассчитывающих смещение строки до сетки
// вертикального ритма требуется знать высоту шапки гарнитуры (Cap height).
// Однако, она меняется в зависимости от кегля и, чтобы ее узнать даже
// с помощью онлайн-утилит
// https://codepen.io/MisterCurtis/pen/doEzzx
// https://codepen.io/sebdesign/pen/EKmbGL?editors=0001
// приходится экспериментировать. Это, на мой взгляд, означает лишний этап
// работы.

// 2) По этой же причине представляется невозможной адаптация примеси Gridlover
// https://github.com/hiulit/Sassy-Gridlover
// под технику смещения на сетку.

// 3) Вариант с добавлением padding-а контейнеру с ритмом, разработанным
// в Gridlover не сработал.

// ВЫВОДЫ

// 1) Использовать технику смещения на сетку с помощью верхнего margin'а.
// Подбирать его размер экспериментально, начиная с четверти высоты строки.
// Нижний отступ делать padding'ом
// https://open.nytimes.com/how-we-implemented-a-baseline-grid-using-css-cb13cac45201

// 2) Применять технику к текстовым блокам без класса и узлам основного
// содержания (им могут быть назначены классы).
// dl, figure, ol, p, ul {
//   &:not([class]),
//   .main__body & {
//     // ...
//   }
// }

h1:not([class]),
.main-title {
  margin-top: 0;
  margin-bottom: $headline-lg-margin-bottom;
  padding-top: $headline-lg-baseline-shift;
}

h2:not([class]),
.main-body h2,
.main-subhead {
  margin-bottom: $headline-md-margin-bottom;
  padding-top: $headline-md-baseline-shift;
}

h3, h4, h5, h6 {
  &:not([class]),
  .main-body & {
    margin-bottom: ($spacer - $body-baseline-shift);
    padding-top: $headline-xs-baseline-shift;
  }
}

blockquote:not([class]),
.main-body blockquote,
%copy-block-vr {
  margin: 0;
  margin-bottom: ($spacer - $body-baseline-shift);
  padding-top: $body-baseline-shift;
}

dl, figure, ol, p, ul {
  &:not([class]),
  .main-body &:not([class]) {
    @extend %copy-block-vr;
  }
}

hr {
  border-top: $border-width solid $hr-border-color;
  border: 0;
  display: block;
  height: 1px;
  margin: (7 / 4 * $spacer - .1rem) 0 (9 / 4 * $spacer);
  padding: 0;
}

img + figcaption:not([class]) {
  padding-top: ($spacer-sm * 2);
}

blockquote > p:first-child {
  &:not([class]),
  .main-body & {
    padding-top: 0;
  }
}
