@use '../../styles/abstracts' as *;

// Uncomment icon variables in scheme-(light, dark)

[type='date'],
[type='datetime-local'],
[type='month'],
[type='time'],
[type='week'] {
  background-image: var(--icon-calendar);
  background-position: center right $size-1;
  background-repeat: no-repeat;
  background-size: $size-icon-xy auto;
}

[type='time'] {
  background-image: var(--icon-time);
}

// Visually hide native calendar button to replace it with custom icon
::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
  width: $size-icon-xy;
}
