@use '../../styles/abstracts' as *;

[type='file'] {
  @include text-truncate;

  border: 0;
  border-radius: 0;
  background: none;
  color: var(--color-ink-2ry);
  padding: 0;

  // ⚠️ Selector chain does not work. Use the mixin in the separated style blocks
  &::file-selector-button {
    @include button;

    margin-right: $size-2;
    margin-inline-end: $size-2;
  }

  &::-webkit-file-upload-button {
    @include button;

    margin-right: $size-2;
    margin-inline-end: $size-2;
  }

  &::-ms-browse {
    @include button;

    margin-right: $size-2;
    margin-inline-end: $size-2;
  }
}
