// stylelint-disable selector-no-qualifying-type

@use 'sass:math';
@use '../../theme/config' as *;

/* -----------------------------------------------------------------------------
 * CONTAINERS
 * -------------------------------------------------------------------------- */
// #region

// For multi input fields (e. g. birthday) use .grid.is-auto

form {
  accent-color: var(--color-brand-text);
  caret-color: var(--color-brand-ink-2ry);
}

fieldset {
  border: 0;
  margin: 0 0 $size-line * 2;
  padding: 0 0 $size-line;
}

// Input container
form p,
form > div:not([class]) {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
// #endregion

/* -----------------------------------------------------------------------------
 * LEGEND AND LABELS
 * -------------------------------------------------------------------------- */
// #region

label,
legend {
  display: block;
}

legend {
  @include text-format(base);

  font-weight: 500;

  // Correct the text wrapping in Edge and IE
  white-space: normal;
  margin: 0;
  max-width: 100%;
}

label {
  // Standard
  @include label;

  color: var(--color-ink-2ry);
  margin: 0;
  padding-top: var(--padding-top-small);
  padding-bottom: var(--padding-bottom-small);
  position: relative;
}

.form__label.is-icon {
  padding-block: 0;
  position: absolute;
  top: rem(14);
  left: $size-1p5;
}
// #endregion

/* -----------------------------------------------------------------------------
 * FIELDS NORMALIZE
 * -------------------------------------------------------------------------- */
// #region

// Remove the inner border and padding of focus outlines in Firefox
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Remove the focus outline in Firefox
:-moz-focusring {
  outline: 0;
}

// Remove the additional :invalid styles in Firefox
:-moz-ui-invalid {
  box-shadow: none;
}

// Change the inconsistent appearance in IE (opinionated)
::-ms-expand {
  display: none;
}
// #endregion

/* -----------------------------------------------------------------------------
 * INPUT, TEXTAREA, SELECT BASE
 * -------------------------------------------------------------------------- */
// #region

input,
optgroup,
select,
textarea {
  // Change the font styles in all browsers
  font-family: inherit;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  // Remove the margin in Firefox and Safari
  letter-spacing: inherit;
}

input,
select,
textarea {
  background-color: var(--color-background-base);
  hanging-punctuation: none;
}

select,
textarea,
input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='reset']) {
  appearance: none;
  background-color: var(--color-background-2ry);
  border: 0;
  color: var(--color-ink-base);
  display: block;
  padding-block: var(--padding-y-input);
  overflow: visible;
  transition:
    box-shadow $easing-base $duration-xxs,
    color $easing-base $duration-xxs;
  width: 100%;
  max-width: var(--width-readable);
  min-height: $size-line * 2;

  &:focus-visible {
    color: var(--color-ink-base);
    border-color: transparent;
    box-shadow: var(--box-shadow-focus-outline);
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: var(--color-ink-3ry);
    // Override Firefox's unusual default opacity
    opacity: 1;
  }

  @media (--tablet) {
    max-width: var(--width-readable);
  }
}

select,
textarea,
input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='reset']):not([type='search']) {
  border-radius: $border-radius-sm;
  padding-left: $size-6;
  padding-inline-start: $size-6;
}

textarea,
[type='text'],
[type='email'],
[type='tel'],
[type='number'],
[type='url'] {
  padding-right: var(--padding-x-input);
  padding-inline-end: var(--padding-x-input);
}

[type='password'] {
  padding-right: var(--padding-x-input-lg);
  padding-inline-end: var(--padding-x-input-lg);
}

// #endregion

/* -----------------------------------------------------------------------------
 * SPECIFIC
 * -------------------------------------------------------------------------- */
// #region

textarea {
  /* In textarea, we cannot control the bottom padding.
  But we can add whitespace from above */
  padding-top: rem(11);

  // Remove the default vertical scrollbar in IE
  overflow: auto;
  resize: vertical;
}

textarea:not([rows]) {
  height: $size-line * 6;
}

// MODIFICATIONS

.form__field.is-lg {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

// STATES

[disabled],
[readonly] {
  cursor: not-allowed;
  opacity: 0.5;
}

// #endregion

/* -----------------------------------------------------------------------------
 * HINTS
 * -------------------------------------------------------------------------- */
// #region

form small,
.list.is-hint li {
  @include text-format(small);

  color: var(--color-ink-2ry);
  margin-top: $size-1;
  max-width: var(--width-readable);
}

form small {
  display: block;
}

.list.is-hint {
  padding-left: $size-2;
}

.form__disclaimer {
  margin-block: $size-line;
}
// #endregion

/* -----------------------------------------------------------------------------
 * BUTTONS
 * -------------------------------------------------------------------------- */
// #region

.form__footer {
  > * {
    margin-bottom: $size-2;
  }

  @media (--tablet) {
    display: flex;
    align-items: center;
    padding-top: var(--padding-top-form-actions);
    padding-bottom: var(--padding-bottom-form-actions);

    > :not(:last-child) {
      margin-right: $size-2;
    }

    .btn.is-right {
      margin-left: auto;
      margin-inline-start: auto;
    }
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * CAPTCHA
 * -------------------------------------------------------------------------- */
// #region

.grecaptcha-badge {
  opacity: 0;
  pointer-events: none;
}
// #endregion
