@use '../../styles/abstracts' as *;

// class applies to select element itself, not a wrapper element
select {
  &:not([multiple]):not([size]) {
    background-image: var(--icon-sm-chevron-down);
    background-position: center right $size-1;
    background-size: $size-2p5;
    background-repeat: no-repeat;
    padding-right: var(--padding-x-input-lg);
    padding-inline-end: var(--padding-x-input-lg);
  }

  // Hide arrow icon in IE browsers
  &::-ms-expand {
    display: none;
  }
}

option {
  font-weight: normal;
}

// stylelint-disable-next-line selector-no-qualifying-type
select[multiple] {
  background-image: none;
  overflow-y: auto;
  padding-right: $size-2;
}
