// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors, no-descending-specificity

@use '../../styles/abstracts' as *;

/* -----------------------------------------------------------------------------
 * INVALID INPUTS
 * -------------------------------------------------------------------------- */
// #region

:--text-field-blur:user-invalid {
  background-image: var(--icon-error);
  background-position: top rem(14) right $size-1;
  background-repeat: no-repeat;
  background-size: $size-icon-xy auto;
  box-shadow: 0 0 0 2px var(--color-error-base);
  padding-right: $size-5;

  // Show alert
  + .form__error,
  + small + .form__error {
    opacity: 1;
    height: auto;
  }

  // And hide hint
  + small {
    display: none;
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * INLINE ERROR MESSAGES
 * -------------------------------------------------------------------------- */
// #region

.form__error {
  color: var(--color-error-text);
  display: block;
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: var(--line-height-small);
  overflow: hidden;
  opacity: 0;
  transition: opacity $duration-lg;
  height: 0;
}

// To hide message using height: 0 we should wrap it in another block
// and delegate paddings to it
.form__error > span,
.form__error > small {
  display: block;
  padding-top: calc(var(--padding-top-small) + #{$size-half});
  padding-bottom: var(--padding-bottom-small);
  padding-inline: $size-2;
}

// Show front-end validation alert for form rows
// Add validation script
.grid.has-error + .form__error {
  opacity: 1;
  height: auto;
}
// #endregion

/* -----------------------------------------------------------------------------
 * SUBMISSION FEEDBACK
 * -------------------------------------------------------------------------- */
// #region

// #endregion
