// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors, no-descending-specificity

@use '../../theme/config' as *;

/* -----------------------------------------------------------------------------
 * INVALID INPUTS
 * -------------------------------------------------------------------------- */
// #region

:--text-field {
  &:user-invalid,
  &:invalid.is-touched,
  .has-been-validated &:invalid {
    background-image: var(--icon-error);
    background-position: top rem(11) right $size-1;
    background-repeat: no-repeat;
    background-size: $size-icon-xy auto;
    border-color: var(--color-error-base);
    box-shadow: inset 0 0 0 1px var(--color-error-base);

    // Show alert
    + [role='alert'],
    + small + [role='alert'] {
      opacity: 1;
      height: auto;
    }

    // And hide hint
    + small {
      display: none;
    }
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * ERROR MESSAGES
 * -------------------------------------------------------------------------- */
// #region

form [role='alert'] {
  color: var(--color-error-text);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  overflow: hidden;
  opacity: 0;
  transition: opacity $duration-lg;
  height: 0;
}

/* To hide message using height: 0 we should wrap it in another div and delegate
paddings to it */
form [role='alert'] > span {
  display: block;
  padding-top: var(--padding-top-small);
  padding-bottom: var(--padding-bottom-small);
}

// Show front-end validation alert for form rows
.grid.has-error + [role='alert'] {
  opacity: 1;
  height: auto;
}

// Alert under the required checkboxes
.has-been-validated
  label:has(input[type='checkbox']:not(:focus):invalid)
  + [role='alert'] {
  display: block;
}
// #endregion
