@use '../../styles/abstracts' as *;

.list.is-nested-ol {
  --ol-num: 4.4ch;
  counter-reset: item;
  list-style-type: none;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);

  ol {
    margin-bottom: 0;
  }

  li {
    padding-inline: var(--ol-num);
    padding-bottom: var(--padding-bottom-li);
  }

  li:has(.list.is-nested-ol) {
    padding-bottom: 0;
  }

  > li {
    counter-increment: item;
    position: relative;

    &::before {
      content: counter(item) '. ';
      font-variant-numeric: tabular-nums lining-nums;
      text-align: end;
      white-space: nowrap;
      padding-inline-end: 0.4ch;
      position: absolute;
      width: var(--ol-num);
    }
  }
}

// Second level
:where(.list.is-nested-ol > li) > .list.is-nested-ol {
  counter-reset: subitem;

  > li {
    counter-increment: subitem;

    &::before {
      content: counter(item) '.' counter(subitem) '. ';
      // left: -2.5em;
    }
  }
}
