.alert {
  border-radius: $border-radius-sm;
  box-shadow:
    0 0 0 1px $color-ink-border,
    $box-shadow-z1;
  color: $color-ink-alert;
  margin-bottom: $size-line;
  padding-top: 1rem;
  padding-right: $size-2;
  padding-bottom: 1rem;
  padding-left: $size-6;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-right: $size-line;
  }
}

// ICONS

.alert .icon {
  position: absolute;
  top: 2.1rem;
  left: $size-2;
  transform: translateY(-50%);
}

// SEMANTIC BACKGROUNDS

// H5BP .browserupgrade, noscript etc
.alert.is-waring,
%alert-waring {
  background: $color-background-warning;
}

.alert.is-error,
%alert-error {
  background: $color-background-danger;
}

.alert.is-success,
%alert-success {
  background: $color-background-success;
}

// .alert-info,
// %alert-info {
//   background: $color-background-info;
// }

// DISMISSIBLE ALERTS

// .alert-dismissible {
//   padding-right: $size-1 * 4; // 32px

//   // Adjust close link position
//   .btn-close {
//     position: absolute;
//     top: $size-1;
//     right: $size-1;
//   }
// }
