// stylelint-desable scss/at-if-no-null

@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'functions' as *;
@use 'variables' as *;
@use 'mixins' as *;

:root {
    --duration-sm: 0.15s;
  --easing-base: cubic-bezier(0.2, 0, 0.38, 0.9);

  --size-1: 8px;

  --size-half: calc(var(--size-1) / 2);
  --size-1h: calc(var(--size-1) * 1.5); /* 12px */
  --size-2: calc(var(--size-1) * 2);
  --size-2h: calc(var(--size-1) * 2.5);
  --size-3: calc(var(--size-1) * 3);
  --size-4: calc(var(--size-1) * 4);
  --size-5: calc(var(--size-1) * 5);
  --size-6: calc(var(--size-1) * 6);
  --size-7: calc(var(--size-1) * 7);
  --size-8: calc(var(--size-1) * 8);

  --size-line: var(--size-3);

  --radius-xs: var(--size-half);
  --radius-sm: var(--size-1);
  --radius-base: var(--size-2);
  --radius-lg: var(--size-4);

  --radius-pill: 100vmax;

  --width-sm: 272px;

  // Popovers, tablet and desktop drawers, alerts (.modal.is-sm) on landscape phones
  --width-base: 320px;

  // Wide drawers, alerts (.modal.is-sm), popovers on tablets and up
  --width-md: 448px;

  // Default modals on landscape phones and up
  --width-lg: 544px;

  // Large modals on desktops
  --width-xl: 720px;

  // 1096 + 40*2 paddings
  --width-container: rem(1176);


  @each $color, $value in map.get($color, base) {
    --#{$color}: #{$value};
  }

  // Lightness and saturation are set in themes.

  // Typography
  @each $item, $set in map.get($typeset, phone) {
    @each $prop, $value in $set {
      --#{$prop}-#{$item}: #{$value};
    }
  }

  // Spacing
  @each $prop, $value in map.get($spacing, phone) {
    --#{$prop}: #{$value};
  }

  // Width
  @each $comp, $value in map.get($width, phone) {
    --width-#{$comp}: #{$value};
  }

  // height
  @each $comp, $value in map.get($height, phone) {
    --height-#{$comp}: #{$value};
  }

  @media (--tablet) {
    // Typography
    @each $item, $set in map.get($typeset, tablet) {
      @each $prop, $value in $set {
        --#{$prop}-#{$item}: #{$value};
      }
    }

    // Spacing
    @each $prop, $value in map.get($spacing, tablet) {
      --#{$prop}: #{$value};
    }

    // Width
    @each $comp, $value in map.get($width, tablet) {
      --width-#{$comp}: #{$value};
    }
  }

  @media (--tablet-l) {
    // Typography

    @if (map.has-key($typeset, tablet)) {
      @each $item, $set in map.get($typeset, tablet-l) {
        @each $prop, $value in $set {
          @if $value {
            --#{$prop}-#{$item}: #{$value};
          }
        }
      }
    }

    // Spacing
    @each $prop, $value in map.get($spacing, tablet-l) {
      --#{$prop}: #{$value};
    }

    // Width
    @each $comp, $value in map.get($width, tablet-l) {
      --width-#{$comp}: #{$value};
    }
  }

  @media (--laptop) {
    // Width
    @each $comp, $value in map.get($width, laptop) {
      --width-#{$comp}: #{$value};
    }

    // height
    @each $comp, $value in map.get($height, laptop) {
      --height-#{$comp}: #{$value};
    }
  }
  // #endregion
}
