@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use 'functions' as *;

/* -----------------------------------------------------------------------------
 * 🛠️ SETTINGS
 * -------------------------------------------------------------------------- */
// #region

$enable-sidebar-global-nav: false;
$site-assets: '/assets';

// #endregion

/* -----------------------------------------------------------------------------
 * 🎨 COLORS
 * -------------------------------------------------------------------------- */
// #region

$h-red: 8;
$h-yellow: 58;
$h-green: 122;
$h-blue: 250;
$h-magenta: 309;

$h: $h-blue !default;
$s: 55% !default;
$s-neutral: 11% !default;
$l: 60% !default;

// Base
$color: (
  base: (
    h: $h,
    s: $s,
    s-neutral: $s-neutral,
    l-bg-base: 96%,
  ),
  brand: (
    palette: (
      50: hsl($h $s 97%),
      100: hsl($h $s 94%),
      200: hsl($h $s 88%),
      300: hsl($h $s 81%),
      400: hsl($h $s 72%),
      500: hsl($h $s 65%),
      600: hsl($h $s 60%),
      700: hsl($h $s 54%),
      800: hsl($h $s 46%),
      900: hsl($h $s 40%),
      950: hsl($h $s 24%),
    ),
    functional: (
      primary: var(--color-brand-600),
      background: var(--color-brand-50),
      background-dark: var(--color-brand-600),
      text: var(--color-brand-700),
      ink-2ry: var(--color-brand-500),
      border: var(--color-brand-100),
      gradient-triple: linear-gradient(hsl($h $s 64%), hsl($h $s 56%) 79%, hsl($h $s 62%)),
      gradient-dark: linear-gradient(hsl($h $s 65%), hsl($h $s 55%)),
    ),
  ),
  background: (
    base: hsl($h $s-neutral var(--l-bg-base)),
    2ry: hsl($h $s-neutral 99%),
    inverse: hsl($h $s-neutral 18%),
    frosted-glass: hsl($h $s-neutral 96% / 0.8),
    frosted-glass-alt: hsl($h $s-neutral 99% / 0.8),
    frosted-glass-backdrop: #{saturate(180%) blur(20px)},
    frosted-glass-backdrop-alt: #{saturate(180%) blur(8px)},
    scrim: rgb(0 0 0 / 0.6),
    scrim-max: rgb(0 0 0 / 0.87),
  ),
  ink: (
    default: (
      base: hsl($h $s-neutral 35%),
      2ry: hsl($h $s-neutral 48%),
      3ry: hsl($h $s-neutral 59%),
      border: hsl($h $s-neutral 85%),
      shadow: #{$h $s-neutral 11%},
      border-translucent: hsl(var(--color-ink-shadow) / 0.16),
      min: hsl(var(--color-ink-shadow) / 0.04),
      link: var(--color-brand-text),
      link-hover: var(--color-brand-500),
      code: hsl($h-magenta $s 47%),
      scroll-thumb: rgb(0 0 0 / 0.5),
    ),
    inverse: (
      max: hsl(0 0% 100%),
      base: hsl(0 0% 100% / 0.87),
      2ry: hsl(0 0% 100% / 0.54),
      3ry: hsl(0 0% 100% / 0.38),
      border: hsl(0 0% 100% / 0.2),
    ),
    neutral: (
      text: hsl(0 0% 0% / 0.87),
      2ry: hsl(0 0% 0% / 0.54),
      3ry: hsl(0 0% 0% / 0.38),
      border: hsl(0 0% 0% / 0.12),
    ),
  ),
  semantic: (
    error: (
      base: hsl($h-red $s 49%),
      background: hsl($h-red $s 93%),
      text: hsl($h-red $s 42%),
      ink-2ry: hsl($h-red $s 49%),
    ),
    warning: (
      base: hsl($h-yellow $s 67%),
      background: hsl($h-yellow $s 84%),
      text: hsl($h-yellow $s 26%),
      ink-2ry: hsl($h-yellow $s 30%),
    ),
    success: (
      base: hsl($h-green $s 33%),
      background: hsl($h-green $s 88%),
      text: hsl($h-green $s 28%),
      ink-2ry: hsl($h-green $s 33%),
    ),
  ),
) !default;

// Icons
$color-icon-stroke: map.get($color, ink, default, 3ry) !default;
$color-icon-fill: none !default;
$color-icon-stroke-error: map.get($color, semantic, error, ink-2ry) !default;
$color-icon-fill-error: map.get($color, semantic, error, background) !default;
$color-icon-stroke-success: map.get(
  $color,
  semantic,
  success,
  ink-2ry
) !default;
$color-icon-fill-success: none !default;

// Adjustment
$color-brightness-up: brightness(1.16) !default;
$color-brightness-down: brightness(0.84) !default;

// #endregion

/* -----------------------------------------------------------------------------
 * 👚 SIZES
 * -------------------------------------------------------------------------- */
// #region

$size-half: rem(4) !default;
$size-1: rem(8) !default;
$size-1p5: $size-1 * 1.5 !default; // 12px
$size-2: $size-1 * 2 !default;
$size-2p5: $size-1 * 2.5 !default; // 20px
$size-3: $size-1 * 3 !default;
$size-4: $size-1 * 4 !default;
$size-5: $size-1 * 5 !default;
$size-6: $size-1 * 6 !default;
$size-7: $size-1 * 7 !default;
$size-8: $size-1 * 8 !default;

// For larger values use derived lines. E.g. $size-line * 3
$size-line: $size-3 !default;

$size-icon-xy: $size-2p5 !default;

// BREAKPOINTS
$phone-l-height: 361px;
$phone-l: 568px;
$tablet: 768px;
$tablet-l: 1024px;
$laptop: 1360px;
$desktop: 1920px;
// $desktop-xxl: 2560px !default; // iMac 27″

$mq-breakpoints-base: phone, phone-p, phone-l, tablet-l-down !default;

$mq-breakpoints-lg: tablet, tablet-l, laptop !default;

$mq-breakpoints: list.join($mq-breakpoints-base, $mq-breakpoints-lg) !default;

// Using: @media #{$mq-resolution-retina} { … }
$mq-resolution-retina: 'print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi)' !default;

$gutter-base: $size-2p5 !default;
$gutter-lg: $size-4 !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 🗃 SHADOWS
 * -------------------------------------------------------------------------- */
// #region

// stylelint-disable indentation
$box-shadow: (
  // Buttons, Cards, Alerts, App Bar, Tab Bar, Switches
  z1: 0 1px 0 hsl(var(--color-ink-shadow) / 0.08),
  z2: (
    // FAB, Buttons hover, Snackbars
    0 0 0 1px hsl(var(--color-ink-shadow) / 0.04),
    0 1px 2px hsl(var(--color-ink-shadow) / 0.06),
    0 3px 6px hsl(var(--color-ink-shadow) / 0.1)
  ),
  z3: (
    // FAB hover, Drawers, Dropdowns, Modal Bottom Sheets, Pickers, Sticky Components
    0 0 0 1px hsl(var(--color-ink-shadow) / 0.04),
    0 3px 6px -1px hsl(var(--color-ink-shadow) / 0.06),
    0 15px 28px -1px hsl(var(--color-ink-shadow) / 0.1)
  ),
  z4: (
    // Popovers, Tooltips
    0 0 0 1px hsl(var(--color-ink-shadow) / 0.04),
    0 6px 10px -3px hsl(var(--color-ink-shadow) / 0.06),
    0 27px 50px -3px hsl(var(--color-ink-shadow) / 0.1)
  ),
  z5: (
    // Modals
    0 0 0 1px hsl(var(--color-ink-shadow) / 0.04),
    0 9px 14px -5px hsl(var(--color-ink-shadow) / 0.06),
    0 40px 72px -5px hsl(var(--color-ink-shadow) / 0.1)
  ),
  focus-outline: 0 0 0 $size-half hsla($h, $s, $l, 0.4),
  focus-outline-sm: 0 0 0 2px hsla($h, $s, $l, 0.4)
) !default;
// stylelint-enable indentation
// #endregion

/* -----------------------------------------------------------------------------
 * 🔠 TYPOGRAPHY
 * -------------------------------------------------------------------------- */
// #region

// stylelint-disable indentation
// Neo-grotesque is our everything
$font-family-system-sans: -apple-system, BlinkMacSystemFont, Inter, Roboto,
  'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif !default;
$font-family-system-serif: 'New York', ui-serif, 'Apple Garamond', Baskerville,
  'Iowan Old Style', 'Times New Roman', Times, 'Droid Serif', 'Source Serif Pro',
  serif !default;
$font-family-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;

$font-family-base: $font-family-system-sans, $font-family-emoji !default;
$font-family-title: $font-family-base !default;
$font-family-mono: 'SF Mono', SFMono-Regular, ui-monospace, 'Roboto Mono',
  'Noto Mono', Menlo, Monaco, Consolas, 'Liberation Mono', monospace,
  $font-family-emoji !default;

$typeset: (
  phone: (
    // Font scale factor is 1.2 (5:6), minor third
    hero-title:
      (
        font-size: rem(39),
        font-weight: 300,
        line-height: calc(40 / 39),
        padding-top: rem(6),
        padding-bottom: rem(2),
      ),
    title: (
      font-size: rem(31),
      font-weight: 500,
      letter-spacing: -1 * rem(0.4),
      line-height: calc(40 / 31),
      padding-top: rem(1),
      padding-bottom: rem(7),
    ),
    h2: (
      font-size: rem(25),
      font-weight: 500,
      line-height: calc(32 / 25),
      padding-top: rem(7),
      padding-bottom: rem(1),
    ),
    subhead: (
      margin-top: $size-line,
    ),
    big: (
      font-size: rem(20),
      font-weight: 500,
      line-height: calc(24 / 20),
      padding-top: rem(5),
      padding-bottom: rem(3),
    ),
    base: (
      font-size: rem(16),
      line-height: calc(24 / 16),
      padding-top: rem(6),
      padding-bottom: rem(2),
    ),
    small: (
      font-size: rem(12),
      line-height: calc(16 / 12),
      padding-top: rem(4),
      padding-bottom: rem(4),
    ),
  ),
  // Font scale factor is 1.333 (3:4), perfect fourth
  tablet:
    (
      hero-title: (
        font-size: rem(64),
        font-weight: 300,
        line-height: calc(56 / 64),
        padding-top: rem(5),
        padding-bottom: rem(3),
      ),
      title: (
        font-size: rem(40),
        letter-spacing: -1 * rem(1.1),
        line-height: calc(48 / 40),
        padding-top: rem(2),
        padding-bottom: rem(6),
      ),
      h2: (
        font-size: rem(32),
        letter-spacing: -1 * rem(0.8),
        line-height: calc(40 / 32),
        padding-top: rem(1),
        padding-bottom: rem(7),
      ),
      big: (
        font-size: rem(24),
        line-height: calc(32 / 24),
        padding-top: rem(7),
        padding-bottom: rem(1),
      ),
    ),
) !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 📐 SPACING
 * -------------------------------------------------------------------------- */
// #region

$spacing: (
  phone: (
    spacer: $size-line,

    // Lists
    padding-bottom-li: $size-1,
    padding-bottom-list: $size-2,

    // Containers
    padding-x-box: $size-2,
    padding-x-container: $size-2p5,

    // Buttons
    // Tweak visual alignment
    padding-y-btn: rem(1) 0,
    padding-x-btn: $size-line,

    // Form
    padding-x-input: $size-2,
    padding-y-input: rem(10),
    padding-top-option: rem(0),
    padding-top-form-actions: rem(0),
    padding-bottom-form-actions: $size-line,
  ),
  tablet: (
    spacer: $size-line * 3,
    padding-x-box: $size-3,
    padding-x-container: $size-5,
  ),
  tablet-l: (
    padding-x-box: $size-4,
    padding-x-container: $size-8,
  ),
  laptop: (
    padding-x-btn: $size-2p5,
  ),
) !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 📐 SIZE
 * -------------------------------------------------------------------------- */
// #region

// Tooltips, mobile drawers
$width-sm: 272px !default;

// Popovers, tablet and desktop drawers, alerts (.modal.is-sm) on landscape phones
$width-base: 320px !default;

// Wide drawers, alerts (.modal.is-sm), popovers on tablets and up
$width-md: 448px !default;

// Default modals on landscape phones and up
$width-lg: 544px !default;

// Large modals on desktops
$width-xl: 720px !default;

// 1096 + 40*2 paddings
$width-container: rem(1176) !default;

$width: (
  phone: (
    navbar: 100%,
    /* We can tune it according the current grid and refine for landscape tablet
    and desktop */
    readable: 70ch,
  ),
  tablet: (
    navbar: 96px,
    readable: rem(688),
  ),
  tablet-l: (
    content: 960px,
    readable: rem(654),
  ),
  laptop: (
    navbar: $width-sm,
    content-10-col: math.round(math.div($width-container, 12) * 10),
    content: $width-container,
    readable: rem(648),
  ),
) !default;

$height: (
  phone: (
    btn: $size-7,
  ),
  laptop: (
    btn: $size-7,
  ),
) !default;

// #endregion

/* -----------------------------------------------------------------------------
 * 👻 MOTION DESIGN
 * -------------------------------------------------------------------------- */
// #region

// Micro-interactions such as button and toggle
$duration-xxs: 0.07s !default;

// Micro-interactions such as fade
$duration-xs: 0.11s !default;

// Micro-interactions, small expansion, short distance movements
$duration-sm: 0.15s !default;

// Expansion, system communication, toast
$duration-md: 0.24s !default;

// Large expansion, important system notifications
$duration-lg: 0.4s !default;

// Background dimming
$duration-xl: 0.7s !default;

$easing-base: cubic-bezier(0.2, 0, 0.38, 0.9) !default;
$easing-appearance: cubic-bezier(0, 0, 0.38, 0.9) !default;
$easing-disappearance: cubic-bezier(0.2, 0, 1, 0.9) !default;
$easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 📦 COMPONENT BASE
 * -------------------------------------------------------------------------- */
// #region

$border-width: rem(1) !default;

// Rectangular Images
$border-radius-xs: $size-half !default;

// Buttons
$border-radius-sm: $size-1 !default;

// Boxes (cards, alerts, covers etc), Popovers, Pickers, Tooltips
$border-radius-base: $size-2 !default;

// Modals
$border-radius-lg: $size-4 !default;

$border-radius-pill: 100vmax !default;

// BOX Z-INDEX
$zindex-sticky: 10 !default;
$zindex-fixed: 20 !default;
$zindex-fab: 30 !default;
$zindex-popover: 40 !default;
$zindex-tooltip: 50 !default;
$zindex-drawer:  60 !default;
// #endregion

/* -----------------------------------------------------------------------------
 * 🧑🏻‍🎨 GRAPHICS
 * -------------------------------------------------------------------------- */
// #region

$icons: (
  chevron-down:    'icon-chevron-down.svg',
  error:           'icon-error.svg',
  success:         'icon-success.svg',
  info:            'icon-info.svg',
  // check:           'icon-checkmark.svg',
  // calendar:        'icon-calendar.svg',
  // time:            'icon-time.svg',
  // search:          'icon-search.svg',
  // sm-chevron-down: 'icon-sm-chevron-down.svg',
  // user:            'icon-user.svg',
  // x-mark:          'icon-x-mark.svg'
) !default;

// #endregion
