{% if include.type == 'post' %}
  {% assign page = post %}
{% endif %}

<time datetime="{{ page.date | date: '%Y-%m-%d' }}" itemprop="datePublished">
  {{ page.date | date: "%d" }}
  {% if page.lang == 'ru' %}
    {% assign m = page.date | date: "%-m" %}
    {% case m %}
      {% when '1' %}  янв
      {% when '2' %}  фев
      {% when '3' %}  мар
      {% when '4' %}  апр
      {% when '5' %}  май
      {% when '6' %}  июн
      {% when '7' %}  июл
      {% when '8' %}  авг
      {% when '9' %}  сен
      {% when '10' %} окт
      {% when '11' %} ноя
      {% when '12' %} дек
    {% endcase %}
  {% else %}
    {{ page.date | date: "%-m" }}
  {% endif %}
  {{ page.date | date: "%Y" }}
</time>
