<section class="main__comments">

  <h2 class="visually-hidden">Комментарии</h2>
  <div class="main__disqus" id="disqus_thread"></div>

  <script>
    const disqusShortname = '{{ site.data.base.disqus }}';

    const disqus_config = function () {
      this.page.url = "{{ page.permalink | absolute_url }}";
      this.page.identifier = "{{ page.id }}";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>

</section>
