{% assign company = site.data.i18n.company %}
{% assign social = site.data.social-networks %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %} "x-ua-compatible" is deprecated {% endcomment %}
{% if page.index %}
  {% seo %}
{% else %}
  <title>{% if page.title %}{{ page.title | strip_html | replace: '&nbsp;', ' ' | escape }}{% endif %}{% if page.section %} | {{ page.section }}{% endif %}{% unless page.home %} | {{ company.title }}{% endunless %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | replace: '&nbsp;', ' ' | strip_newlines }}{% else %}{{ page.content | strip_html | xml_escape | truncatewords: 50 }}{% endif %}">
{% comment %} OG {% endcomment %}
  {% if page.layout == 'post' %}<meta property="og:type" content="article">{% else %}<meta property="og:type" content="website">{% endif %}
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | replace: '&nbsp;', ' ' | escape }}{% endif %}{% if page.section %} | {{ page.section }}{% endif %}{% unless page.home %} | {{ company.title }}{% endunless %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | replace: '&nbsp;', ' ' | strip_newlines }}{% else %}{{ page.content | strip_html | xml_escape | truncatewords: 50 }}{% endif %}">
  {% if page.image %}
  {% comment %} Recommended size for high resolution devices: at least 1200 x 630px {% endcomment %}
  <meta property="og:image" content="{{ page.image | prepend: site.assets | prepend: site.url }}">
  {% else %}
  <meta property="og:image" content="{{ site.image | prepend: site.assets | prepend: site.url }}">
  {% endif %}
  {% if social.facebook.admins %}
  {% comment %} To use the Like Button and have the Open Graph inspect the website,
  we need an application. The script of Like Button associates it with the app.
  If we want other users to see the administration page for the website (app
  page) on Facebook we add fb:admins. But the sole developer of the application /
  the website owner does not need to add fb:admins {% endcomment %}
  <meta property="fb:admins" content="{{ social.facebook.admins }}">
  {% endif %}
  <meta name="twitter:card" content="summary_large_image">
{% endif %}
{% comment %} /OG {% endcomment %}
{% if site.author %}
  <meta name="twitter:creator" content="{{ site.author }}">
{% endif %}
{% if page.permalink == '/' %}
  <meta name="p:domain_verify" content="e489415027649c2c99b4862038fdb1a8">
{% endif %}
  <meta name="theme-color" content="{{ site.color }}">
{% comment %} SEO deals w/ HTTPS {% endcomment %}
  <meta name="referrer" content="origin">
{% unless page.index %}
  <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
{% endunless %}
{% if page.hreflang-en and page.lang == 'ru' %}
  <link rel="alternate" href="{{ page.url | absolute_url | strip_index }}" hreflang="ru">
  <link rel="alternate" href="{{ page.hreflang-en | absolute_url }}" hreflang="en">
{% elsif page.hreflang-ru and page.lang == 'en' %}
  <link rel="alternate" href="{{ page.url | absolute_url | strip_index }}" hreflang="en">
  <link rel="alternate" href="{{ page.hreflang-ru | absolute_url }}" hreflang="ru">
{% endif %}
{% if page.lang == 'ru' %}
  <link rel="alternate" href="{{ '/feed.xml' }}" type="application/rss+xml" title="{{ site.rss_title }}">
{% endif %}
  <link rel="sitemap" href="/sitemap.xml" type="application/xml">
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-title" content="{{ site.short_name }}">
{% if site.icon %}
  {% comment %} Apple touch icon. In most cases, one 192×192px touch icon named icon.png
  is enough {% endcomment %}
  <link rel="apple-touch-icon" href="{{ site.icon | prepend: site.assets | prepend: site.url }}">
{% endif %}
{% if social.facebook.ctaLike %}
  <link rel="preconnect" href="https://staticxx.facebook.com">
{% endif %}
{% if site.fonts %}
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ site.fonts }}&display=swap">
{% endif %}
  <link rel="stylesheet" href="{{ site.assets }}/css/style.css{% if jekyll.environment == 'production' %}?{{ 'now' | date: '%Y%m%d-%H%M' }}{% endif %}">
{% if page.styles-addons %}
  {% for style in page.styles-addons %}
  <link rel="stylesheet" href="{{ site.assets }}{{ style }}{% if jekyll.environment == 'production' %}?{{ 'now' | date: '%Y%m%d-%H%M' }}{% endif %}">
  {% endfor %}
{% endif %}
{% if page.style %}
  <style>{{ page.style }}</style>
{% endif %}
{% unless page.index %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ company.title }}",
      "url": "{{ site.url }}",
      "logo": "{{ site.logo | prepend: site.assets | prepend: site.url }}",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{ company.city[page.lang] }}",
        "addressRegion": "{{ company.city[page.lang] }}",
        "postalCode": "{{ company.postal_code }}",
        "addressCountry": "{{ company.country[page.lang] }}"
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "customer support",
        "telephone": "{{ company.phone }}"
      },
      "sameAs": [
        "https://www.facebook.com/{{ site.data.social-networks.facebook.acc }}",
        "https://www.instagram.com/{{ site.data.social-networks.instagram.acc }}",
        "https://www.linkedin.com/in/{{ site.data.social-networks.linkedin.acc }}"
      ]
    }
  </script>
{% endunless %}
{% comment %} Google Tag Manager {% endcomment %}
{% if jekyll.environment == 'production' and site.gtm %}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.gtm }}');</script>
{% endif %}
</head>
