<header class="header">

  {% comment %} Humburger button {% endcomment %}
  <button class="header-navbar-toggler" aria-label="{{ site.data.i18n.labels.menu[page.lang] }}" title="{{ site.data.i18n.labels.menu[page.lang] }}">
    {% include icon.html name="hamburger" %}
  </button>

  {% comment %} Logo, tagline, context menu {% endcomment %}
  {% include logo.html %}

  {% comment %} CTA Button {% endcomment %}
  {% include cta.html %}

  {% if page.lang == 'ru' %}
    <a class="header-lang-switcher is-mobile" href="/en" aria-label="In English" title="In English">
      {% include icon.html name="flag-us" class=true %}
    </a>
  {% else %}
    <a class="header-lang-switcher is-mobile" href="/" aria-label="По-русски / In Russian" title="По-русски / In Russian">
      {% include icon.html name="flag-ru" class=true %}
    </a>
  {% endif %}

</header>
