<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <article class="main">
        <header class="main-header is-form-contact has-2-line-subhead">
          <figure>
            <img src="/assets/img/pages/page/form-contact/img-form-contact-digital-agency.png" srcset="/assets/img/pages/page/form-contact/img-form-contact-digital-agency.png 1x, /assets/img/pages/page/form-contact/img-form-contact-digital-agency@2x.png 2x" alt="Всё будет хорошо">
          </figure>
          <h1>{{ site.data.i18n.headings.form[page.lang] }}</h1>
          <p>{{ site.data.i18n.descriptions.form[page.lang] }}</p>
          <button class="modal-close" data-dismiss="modal" aria-label="{{ site.data.i18n.labels.close[page.lang] }}" title="{{ site.data.i18n.labels.close[page.lang] }}">
            {% include icon.html name="x-mark" %}
          </button>
        </header>
        <div class="main-body">
          {% include form/contact.html %}
        </div>
      </article>
    </div>
  </div>
</div>

