<nav class="navbar" aria-label="Global">

  <div>
    <ul class="navbar__base">
      {% for item in include.data %}
        {% if item.label[page.lang] %}
          <li{% if item.class %} class="{{ item.class }}"{% endif %}>
            {% assign item_url = item.url %}
            {% if item.url and page.lang %}
              {% unless page.is-home %}
                {% if page.lang == 'ru' %}
                  {% assign item_url = '/' | append: item.url %}
                {% elsif page.lang == 'en' %}
                  {% assign item_url = '/en' | append: item.url %}
                {% endif %}
              {% endunless %}
            {% endif %}
            <a class="navbar__link" href="{{ item_url }}">
              {% if item.icon %}
                {% include icon.html name=item.icon %}
              {% endif %}
              <span>{{ item.label[page.lang] }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="navbar__actions">
      <li>
        <button class="btn is-search" data-target="modal-search" aria-label="{{ site.data.base.labels.search[page.lang] }}">
          {% include icon.html name="search" %}
        </button>
      </li>

      <li>
        {% if page.lang == 'ru' %}
          <a href="/en" aria-label="In English">
            {% include icon.html name="flag-us" %}
          </a>
        {% else %}
          <a href="/" aria-label="По-русски / In Russian">
            {% include icon.html name="flag-ru" %}
          </a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
