<header class="main-header {{ include.class }}">
  <figure>
    <img src="{{ site.assets }}{{ include.image }}.png" srcset="{{ site.assets }}{{ include.image }}.png 1x, {{ site.assets }}{{ include.image }}@2x.png 2x" itemprop="image" alt="{{ include.title }}">
  </figure>

  <h1 itemprop="headline">{{ include.title }}</h1>

  {% if include.subtitle %}
    <p itemprop="description">
      {{ include.subtitle }}
    </p>
  {% endif %}

  <button class="modal-close" data-dismiss="modal" aria-label="{{ site.data.base.labels.buttons.close[page.lang] }}">
    {% include icon.html name="x-mark" class=true %}
  </button>
</header>
