{% if paginator.total_pages > 1 %}
  <ul class="pager">
    <li class="pager-previous first">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">Назад — более свежие записи</a>
      {% endif %}
    </li>
    <li class="pager-current">{{ paginator.page }} / {{ paginator.total_pages }}</li>
    <li class="pager-next last">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Вперёд — более ранние записи</a>
      {% endif %}
    </li>
  </ul>
{% endif %}
