{% comment %}<script src="{{ site.assets }}/js/plugins.js?{{ 'now' | date: '%Y%m%d-%H%M' }}"></script>{% endcomment %}
<script src="{{ site.assets }}/js/main.js?{{ 'now' | date: '%Y%m%d-%H%M' }}"></script>

{% if page.is-home %}
<script>
  /**
  * Opens the specified URL in a new browser tab or window.
  *
  * @param {string} url - The URL to open.
  * @param {string} windowName - The name of the new window.
  * @return {Window} The newly opened window.
  */
  // eslint-disable-next-line no-unused-vars
  function openInNewTab(url, windowName) {
    const newWindow = window.open(url, windowName);
    newWindow.focus();
    return newWindow;
  }

  document.addEventListener('DOMContentLoaded', () => {
    /**
    * Initializes the form submission handling.
    */
    const form = document.getElementById('section-contacts');
    const status = document.getElementById('form-contact-status');

    const removeStatusClass = () => {
      status.classList.remove('is-success', 'is-error');
      status.textContent = '';
    };

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const formData = new FormData(form);
      const language = document.documentElement.lang;

      try {
        const response = await fetch(form.action, {
          method: form.method,
          body: formData,
          headers: {
            Accept: 'application/json',
          },
        });

        if (response.ok) {
          const message =
            language === 'ru'
              ? 'Сообщение получено. Ждите ответа'
              : 'Message received. Wait for a response';
          status.textContent = message;
          status.classList.add('is-success');
        } else {
          const message =
            language === 'ru'
              ? 'Ошибка отправки. Попробуйте позже'
              : 'Submission error. Please try again later';
          status.textContent = message;
          status.classList.add('is-error');
        }
      } catch (error) {
        const message =
          language === 'ru'
            ? 'Ошибка отправки. Попробуйте позже'
            : 'Submission error. Please try again later';
        status.textContent = message;
        status.classList.add('is-error');
      }

      setTimeout(removeStatusClass, 4000);
    });
  });

  window.addEventListener('load', () => {
    /**
    * Start the animation of the hero when his background pictures are loaded
    */
    const el = document.getElementById('hero');

    const getBackgroundImageUrls = (element) => {
      const styles = window.getComputedStyle(element);
      const { backgroundImage } = styles;

      if (!backgroundImage || backgroundImage === 'none') return [];

      // Extract URLs from the background-image style
      const urls = backgroundImage
        .match(/url\((['"])?(.*?)\1\)/gi)
        .map((match) => match.slice(4, -1).replace(/["']/g, ''));

      return urls;
    };

    const preloadImages = (urls) => {
      return Promise.all(
        urls.map((url) => {
          return new Promise((resolve, reject) => {
            const img = new Image();
            img.src = url;
            img.onload = resolve;
            img.onerror = reject;
          });
        })
      );
    };

    const checkAndAnimate = async (element) => {
      const urls = getBackgroundImageUrls(element);
      if (urls.length > 0) {
        await preloadImages(urls);
      }
      element.classList.add('is-animated');
    };

    checkAndAnimate(el);
  });
</script>
<script type="module" src="{{ site.assets }}/js/animation.js"></script>
{% endif %}

<div id="fb-root"></div>
<script crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=1477564732401123&autoLogAppEvents=1" nonce="rndxRhrD"></script>
