<article class="snippet" itemscope itemtype="http://schema.org/BlogPosting">

  {% if post.image %}
    <figure class="border">
      <img src="{{ site.assets }}/{{ post.image }}" alt="{{ post.title | strip_html }}" itemprop="image">
    </figure>
  {% endif %}

  <h2 class="snippet__title" itemprop="headline">
    <a href="{{ post.url }}" itemprop="url">
      {{ post.title }}
    </a>
  </h2>

  {% if post.description %}<p class="snippet__summary" itemprop="description">{{ post.description | markdownify | strip_html | truncate: 300 }}</p>{% endif %}

  <footer class="snippet__footer meta">
    {% include date.html type='post' %}

    {% if page.categories[0] %}
    <div class="meta__tags">
      {% assign categories = page.categories %}
      {% if categories != "" or categories != nil %}
        {% include icon.html name="tag" %}
      {% endif %}
      {% for category in categories %}
        <a class="meta__tag" href="/ru/blog/categories#{{ category | slugify | uri_escape }}" rel="tag">{{category}}</a>{%- unless forloop.last -%}, {%- endunless -%}
      {% endfor %}
    </div>
    {% endif %}

    <a class="meta__comments" href="{{ post.url }}">
      {% include icon.html name="message" class=true %}
      <span class="visually-hidden">Полный текст и&nbsp;комментарии</span>
      {% include icon.html name="chevron-right" %}
    </a>
  </footer>
</article>
