<div class="dropup is-subscription">
  <button class="btn is-link is-subscription" id="btn-subscribe" data-toggle="dropdown" data-display="static" aria-expanded="false">
    {% include icon.html name="mail" class=true %}
    Подписаться
  </button>

  <div class="dropdown-menu" aria-labelledby="btn-subscribe">
    <h3 class="dropdown__menu-title">Нерегулярная<br>email-рассылка</h3>

    <form class="form is-subscription validate" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="https://facebook.us19.list-manage.com/subscribe/post?u=fa995f3948bfdd76675b8cf2b&amp;id=cd3b2297c2" method="post" target="_blank" novalidate>
      <div class="form-group">
        <label for="mce-EMAIL" aria-label="{{ site.data.i18n.labels.formEmail[page.lang] }}" title="{{ site.data.i18n.labels.formEmail[page.lang] }}">
          {% include icon.html name="mail" class=true %}
        </label>
        <input class="form-control required" id="mce-EMAIL" name="EMAIL" type="email" value="" placeholder="{{ site.data.i18n.labels.formEmail[page.lang] }}">
      </div>

      <div class="form-group">
        <label for="mce-FNAME" aria-label="{{ site.data.i18n.labels.formName[page.lang] }}" title="{{ site.data.i18n.labels.formName[page.lang] }}">
          {% include icon.html name="user" class=true %}
        </label>
        <input class="form-control" id="mce-FNAME" name="FNAME" type="text" value="" placeholder="{{ site.data.i18n.labels.formName[page.lang] }}">
      </div>

      <div id="mce-responses">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      {% comment %} real people should not fill this in and expect good things - do not remove this or risk form bot signups {% endcomment %}
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa995f3948bfdd76675b8cf2b_cd3b2297c2" tabindex="-1" value=""></div>

      <input class="btn is-2ry" id="mc-embedded-subscribe" name="subscribe" type="submit" value="{{ site.data.i18n.labels.formSubscribe[page.lang] }}">
    </form>

    <a href="/feed.xml" title="Лента блога" >
      {% include icon.html name="rss" class=true %}
      Подписаться на ленту
    </a>
  </div>
</div>

