{% comment %}
{% for post in paginator.posts %}
  {% include teaser.html %}
{% endfor %}

{% include paginator.html %}
{% endcomment %}

<li class="teaser" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="teaser__wrapper-link" href="{{ post.url }}" itemprop="url">
    {% if post.image %}
      <div class="teaser__media media is-top">
        <img class="teaser__img" src="{{ site.assets }}/{{ post.image }}" alt="{{ post.title }}" itemprop="image">
      </div>
    {% endif %}
    <h2 class="teaser__title" itemprop="headline">{{ post.title }}</h2>
    {% if post.description %}<p class="teaser__summary" itemprop="description">{{ post.description | markdownify | strip_html | truncate: 300 }}</p>{% endif %}
  </a>
  <footer class="teaser-meta meta">
    {% include date.html type='post' %}

    {% comment %} Tags {% endcomment %}
    {% if page.categories[0] %}
    <div class="meta-tags">
      {% assign categories = page.categories %}
      {% for category in categories %}
        <a class="meta-tag tag" href="{{ site.url }}/ru/blog/categories#{{ category | slugify | uri_escape }}" rel="tag">{{category}}</a>{%- unless forloop.last -%}, {%- endunless -%}
      {% endfor %}
    </div>
    {% endif %}

    <a class="meta-comments-counter link-go" href="{{ post.url }}">
      <svg class="icon-inline icon-comment" role="presentation">
        <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-comment"></use>
      </svg>
      <span class="d-sm-none">Далее</span>
      <span class="d-none d-sm-inline">Полный текст и&nbsp;коммент.</span>
    </a>
  </footer>
</li>
