.main-subheader {
  background: $color-background-base;
  border-bottom: 1px solid $color-ink-border;

  // Initially it's hidden on phones. But it swapped with the main header
  // on scroll.
  padding: 0 160px 0 72px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: transform $duration-sm;
  transform: translateY(-56px);
  height: 56px;
  z-index: $zindex-fixed + 1;

  @include media-breakpoint-up(md) {
    // On tablets it becomes a small yellow label sticked to top of viewport.
    background: $color-primary;
    border-bottom: 0;
    display: block;
    text-align: center;
    padding: 0;
    position: absolute;
    right: auto;
    left: 168px;
    transform: translateY(0);
    width: 107px;
    height: 48px;
  }

  @include media-breakpoint-up(lg) {
    left: 240px;
    width: 160px;
  }
}


// TOGGLE HEADERS

.main-subheader.is-mobile {
  transform: translateY(0);

  @include media-breakpoint-up(sm) {
    // Buttons and padding-right increase in landscape orientation.
    padding-right: 168px;
  }
}

// Animation: main header appear on scroll down
// stylelint-disable block-opening-brace-space-before, declaration-block-single-line-max-declarations, declaration-block-semicolon-newline-after
@keyframes subheader {
  0%   { display: none; opacity: 0; }
  1%   { display: block; opacity: 0; transform: translateY(-56px); }
  100% { opacity: 1; transform: translateY(0); }
}
// stylelint-enable block-opening-brace-space-before, declaration-block-single-line-max-declarations, declaration-block-semicolon-newline-after


// BUTTON BACK

.btn-back {
  @extend .d-md-none;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color $duration-xs $easing;
  user-select: none;
  width: 48px;
  height: 56px;

  &:hover {
    background-color: $color-ink-min;
  }
}


// HEADLINES IN SUBHEADER

// Section name in header.
.eyebrow {
  color: $color-ink-2ry;
  display: block;
  text-shadow: 0 1px 0 #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1.6rem 0 0;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    color: $color-ink-light-base;
    font-size: 100%;
    line-height: 48px;
    text-shadow: none;
    padding: 0;
    display: block;
    height: 48px;
  }
}

.eyebrow.is-link {
  &:hover,
  &:visited {
    color: $color-ink-base;
  }

  @include media-breakpoint-up(md) {
    color: $color-ink-light-base;
    font-size: 100%;
    line-height: 48px;
    text-shadow: none;
    padding: 0;
    display: block;
    height: 48px;

    &:hover,
    &:visited {
      background: $color-primary-tint-1;
      color: $color-ink-light-base;
      text-decoration: none;
    }
  }
}

// Section name in header on section index page.
.eyebrow-index {
  @extend %headline-inverted;
  @extend  %headline-lg;
}
