@use 'sass:meta';
@use '../../styles/config' as *;
@use '../../styles/config/custom';

:where(.page.is-guestbook) .main {
  flex-grow: 1;

  &,
  .container {
    display: flex;
    flex-direction: column;
  }
}

:where(.page.is-guestbook) .footer {
  margin-top: 0;
  padding-bottom: 0;

  .col-1\/1 {
    border-top: 0;
    justify-content: flex-start;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    padding-top: var(--padding-top-small);
    padding-bottom: var(--padding-bottom-small);
    padding-inline: var(--padding-x-container);
  }

  .fb-like,
  .popover.is-share {
    display: none;
  }
}

