@use 'abstracts' as *;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // Remove the grey highlight on links in iOS (opinionated)
  -webkit-tap-highlight-color: transparent;
  color-scheme: light dark;
  font-family: $font-family-base;
  font-size: var(--font-size-doc);
  font-synthesis: none;
  font-weight: 400;
  // https://caniuse.com/?search=hanging-punctuation
  hanging-punctuation: first last;
  text-rendering: optimizeLegibility;
  // Prevent adjustments of font size after orientation changes in iOS
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body {
  accent-color: var(--color-brand-primary);
  background:
    var(--color-background-base)
    url('#{$site-assets}/img/pages/background.svg') 50% rem(160) no-repeat;
  color: var(--color-ink-base);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base, 0.011em);
  line-height: var(--line-height-base);
  text-align: left;
  // Create safe areas for iPhone X+
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);

  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
}
