// Preferred box-sizing value
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin in favour of better control in authored CSS
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// Make images easier to work with
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// Make sure textareas without a rows attribute are not tiny
textarea:not([rows]) {
  min-height: 10em;
}

// Legend
// 1. By using `float: left`, the legend will behave like a block element.
//    This way the border of a fieldset wraps around the legend if present.
// 2. Fix wrapping bug.
//    See https://github.com/twbs/bootstrap/issues/29712

legend {
  float: left; // 1
  line-height: inherit;
  padding: 0;
  width: 100%;

  + * {
    clear: left; // 2
  }
}

// Hide the summary marker
summary {
  cursor: pointer;
  list-style: none;

  // Webkit
  &::-webkit-details-marker {
    display: none;
  }

  &::marker {
    display: none;
  }

  // FF
  &::-moz-list-bullet {
    list-style-type: none;
  }
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

// Anything that has been anchored to should have extra scroll margin
:target {
  scroll-margin-block: 5ex;
}

:where([contenteditable]) {
  overflow-wrap: break-word;
}

// apply back the draggable feature - exist only in Chromium and Safari
:where([draggable='true']) {
  -webkit-user-drag: element;
}
