.img-thumbnail {
  border-radius: 0;
  border: 0;
  // created border by background-color: #fff;
  padding: 4px;
  width: 56px;
  height: 40px;

  &:hover {
    animation: tbnHover .6s forwards;
  }
}

p img:only-child,
figure img:only-child {
  margin-bottom: 0;
}

// Thumbnails hover animation
// stylelint-disable block-opening-brace-space-before
@keyframes tbnHover {
  0%   { box-shadow: 0 0 0 0 #fff; }
  25%  { box-shadow: 0 0 0 4px #fff; }
  50%  { box-shadow: 0 0 0 1px #fff; }
  75%  { box-shadow: 0 0 0 3px #fff; }
  100% { box-shadow: 0 0 0 2px #fff; }
}
