<ol class="list is-nested-ol">
  <li><a href="/ru/blog/2019/illustrator-web-design">Введение</a>
    <ol>
      <li>💾 Файлы, монтажные области</li>
      <li>🗓 Cлои</li>
    </ol>
  </li>
  <li>🗜 Трансформация объектов
    <ol>
      <li>Перемещение, выравнивание и&nbsp;распределение объектов</li>
    </ol>
  </li>
  <li>🎼 Линии и&nbsp;сетки</li>
  <li>➰ Контуры
    <ol>
      <li>🖋 Перо и&nbsp;инструмент «Кривизна» (Curvature)</li>
      <li>👱‍♀️ Правила красивых контуров</li>
    </ol>
  </li>
  <li>✍️ Обводка</li>
  <li>🎨 Цвет, заливка</li>
  <li>🔶 Фигуры</li>
  <li>🔠 Текст</li>
  <li>🏰 Векторная графика: техники рисунка
    <ol>
      <li>💪 Shape Builder Tool (Создание фигур)&nbsp;— ⇧M.</li>
      <li>❤️ «Оформление» (Appearance)&nbsp;— палитра и&nbsp;раздел палитры «Свойства».</li>
      <li>📐 Направляющие и&nbsp;линейки</li>
      <li>🚶🏻‍♂️ Переходы (Blend)</li>
      <li>🎁 Перспектива</li>
      <li> 🎩 Cтили графики</li>
      <li> 🔣 Символы</li>
      <li>🏀 Сетчатые объекты (meshes)</li>
      <li>👩 Ресницы, брови, волосы</li>
      <li>🖌 Кисти и&nbsp;ластик</li>
      <li>☀️ Распределение объектов по&nbsp;кругу</li>
    </ol>
  </li>
  <li>🦊 Советы и&nbsp;хитрости</li>
  <li>🛠 Инструменты+</li>
  <li>⌨️ Горячие клавиши</li>
  <li>🖨 Печать</li>
</ol>
