<h3 class="collapse-toggler is-compact is-single collapsed" data-toggle="collapse" data-target="#toc" aria-expanded="false">
  Содержание серии
  <svg class="icon icon-chevron" focusable="false" aria-hidden="true">
    <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-chevron"></use>
  </svg>
</h3>

<div class="main-collapse collapse" id="toc">
  <p class="note">Материалы цикла представляют собой мои личные конспекты. Нет времени превращать их в полноценные обучающие статьи, и поэтому свободное отношение к слову может расстроить граммар-наци. Также не исключено, что использование каких-то картинок нарушит авторские права. Это нехорошо, но давно не помню, где и что брал... Я предупредил.</p>
  <ol class="list is-nested-ol">
    <li><a href="/ru/blog/2019/illustrator-web-design">Введение</a>
      <ol>
        <li><a href="/ru/blog/2020/illustrator-files-artboards">💾 Файлы, монтажные области</a></li>
        <li><a href="/ru/blog/2020/illustrator-layers">🗓 Cлои</a></li>
      </ol>
    </li>
    <li><a href="/ru/blog/2020/illustrator-transformation">🗜 Трансформация объектов</a>
      <ol>
        <li><a href="/ru/blog/2020/illustrator-transformation-moving-aligning-distributing">Перемещение, выравнивание и&nbsp;распределение объектов</a></li>
      </ol>
    </li>
    <li><a href="/ru/blog/2020/lines-and-grids">🎼 Линии и&nbsp;сетки</a></li>
    <li><a href="/ru/blog/2020/edit-paths">➰ Контуры</a>
      <ol>
        <li><a href="/ru/blog/2020/pen-curvature">🖋 Перо и&nbsp;инструмент «Кривизна» (Curvature)</a></li>
        <li><a href="/ru/blog/2020/beautiful-lines">👱‍♀️ Правила красивых контуров</a></li>
      </ol>
    </li>
    <li><a href="/ru/blog/2020/illustrator-stroke">✍️ Обводка</a></li>
    <li><a href="/ru/blog/2020/illustrator-fill">🎨 Цвет, заливка</a></li>
    <li><a href="/ru/blog/2020/illustrator-shapes">🔶 Фигуры</a></li>
    <li><a href="/ru/blog/2021/illustrator-text">🔠 Текст</a></li>
    <li><a href="/ru/blog/2021/illustrator-graphics">🏰 Векторная графика: техники рисунка</a>
      <ol>
        <li><a href="/ru/blog/2021/illustrator-shape-builder">💪 Shape Builder Tool (Создание фигур)&nbsp;— ⇧M</a></li>
        <li><a href="/ru/blog/2021/illustrator-live-paint">✏️ Рисование фигур линиями и&nbsp;инструментом быстрой заливки</a></li>
        <li><a href="/ru/blog/2021/illustrator-appearance">❤️ «Оформление» (Appearance)&nbsp;— палитра и&nbsp;раздел палитры «Свойства»</a></li>
        <li><a href="/ru/blog/2021/illustrator-guides-and-rulers">📐 Направляющие и&nbsp;линейки</a></li>
        <li>🚶🏻‍♂️ Переходы (Blend)</li>
        <li>🎁 Перспектива</li>
        <li> 🎩 Cтили графики</li>
        <li> 🔣 Символы</li>
        <li>🏀 Сетчатые объекты (meshes)</li>
        <li>👩 Ресницы, брови, волосы</li>
        <li>🖌 Кисти и&nbsp;ластик</li>
        <li>☀️ Распределение объектов по&nbsp;кругу</li>
      </ol>
    </li>
    <li>🦊 Советы и&nbsp;хитрости</li>
    <li>🛠 Инструменты+</li>
    <li>⌨️ Горячие клавиши</li>
    <li>🖨 Печать</li>
  </ol>
</div>
