<h3 class="collapse-toggler is-compact is-single collapsed" data-toggle="collapse" data-target="#toc" aria-expanded="false">
  Содержание серии
  <svg class="icon icon-chevron" focusable="false" aria-hidden="true">
    <use xlink:href="{{ site.assets }}/img/base/icons/sprite.svg#icon-chevron"></use>
  </svg>
</h3>

<ol class="main-collapse collapse list is-nested-ol" id="toc">
  <li><a href="/ru/blog/2019/illustrator-web-design">Введение</a>
    <ol>
      <li><a href="/ru/blog/2020/illustrator-files-artboards">💾 Файлы, монтажные области</a></li>
      <li><a href="/ru/blog/2020/illustrator-layers">🗓 Cлои</a></li>
    </ol>
  </li>
  <li><a href="/ru/blog/2020/illustrator-transformation">🗜 Трансформация объектов</a>
    <ol>
      <li><a href="/ru/blog/2020/illustrator-transformation-moving-aligning-distributing">Перемещение, выравнивание и&nbsp;распределение объектов</a></li>
    </ol>
  </li>
  <li><a href="/ru/blog/2020/lines-and-grids">🎼 Линии и&nbsp;сетки</a></li>
  <li>➰ Контуры
    <ol>
      <li>🖋 Перо и&nbsp;инструмент «Кривизна» (Curvature)</li>
      <li>👱‍♀️ Правила красивых контуров</li>
    </ol>
  </li>
  <li>✍️ Обводка</li>
  <li>🎨 Цвет, заливка</li>
  <li>🔶 Фигуры</li>
  <li>🔠 Текст</li>
  <li>🏰 Векторная графика: техники рисунка
    <ol>
      <li>💪 Shape Builder Tool (Создание фигур)&nbsp;— ⇧M.</li>
      <li>❤️ «Оформление» (Appearance)&nbsp;— палитра и&nbsp;раздел палитры «Свойства».</li>
      <li>📐 Направляющие и&nbsp;линейки</li>
      <li>🚶🏻‍♂️ Переходы (Blend)</li>
      <li>🎁 Перспектива</li>
      <li> 🎩 Cтили графики</li>
      <li> 🔣 Символы</li>
      <li>🏀 Сетчатые объекты (meshes)</li>
      <li>👩 Ресницы, брови, волосы</li>
      <li>🖌 Кисти и&nbsp;ластик</li>
      <li>☀️ Распределение объектов по&nbsp;кругу</li>
    </ol>
  </li>
  <li>🦊 Советы и&nbsp;хитрости</li>
  <li>🛠 Инструменты+</li>
  <li>⌨️ Горячие клавиши</li>
  <li>🖨 Печать</li>
</ol>
