// -----------------------------------------------------------------------------
// META (METHODS AND PROPERTIES) LINE
// -----------------------------------------------------------------------------

.meta,
.meta-tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meta {
  display: flex;
  flex-wrap: nowrap;
  padding-top: .6rem;

  @include media-breakpoint-up(md) {
    position: relative;
  }
}

// Date
.meta time {
  color: $color-ink-2ry;
  display: inline-block;
  flex-shrink: 0;
  padding-right: $size-1;
}


// Tags
.meta-tags {
  display: none;

  @include media-breakpoint-up(md) {
    display: inline-block;
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: .8rem;
    overflow: hidden;
    vertical-align: middle;
  }
}

.meta-tag + .meta-tag {
  margin-left: $size-1;
}


// SUBSCRIBE

.meta .dropup.is-subscription {
  padding-right: .8rem;
  padding-left: .8rem;
  transform: translate3d(0, -.2rem, 0);
}

.btn.is-subscription {
  @extend %has-left-icon;

  border: 0;
  padding-top: 0;
  padding-bottom: 0;
}


// LIKE AND SHARE

.meta .social-tools {
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-end;
    flex-basis: 0;
    white-space: nowrap;
    margin-left: auto;
    padding: 0;
    // position: absolute;
    // top: 0;
    // right: 0;
  }
}
