@use '../../theme/config' as *;

.logo {
  --logo-color: hsl($h $s 40%);

  border-radius: $border-radius-base;
  flex-shrink: 0;

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    background: var(--color-background-2ry);
    box-shadow: 0 0 0 $size-1 var(--color-background-2ry);
  }

  &,
  &:visited {
    color: var(--logo-color);
  }
}

.logo__logotype,
.logo__tagline {
  @include text-format(small);
}

.logo__logotype {
  font-weight: bolder;

  @media (--laptop) {
    font-size: rem(23);
    line-height: calc(24 / 23);
    white-space: nowrap;
    padding-top: rem(5);
    padding-bottom: rem(3);
  }
}

.logo__tagline {
  display: none;

  @media (--tablet) {
    color: var(--color-ink-2ry);
    display: block;
    margin-top: -$size-half;
  }
}

.page.is-home .logo {
  pointer-events: none;
  cursor: default;

  &:hover {
    color: var(--logo-color);
  }
}
