.card {
  background: $color-background-secondary;
  border: 0;
  box-shadow: $box-shadow-z1;
  margin-bottom: 2.4rem;
}

.card-header {
  border-bottom: 0;
}

.card-block {
  padding: 1.2rem 20px 2.6rem;
}

.card-stat {
  text-align: center;

  // Big beauty number
  .card-header {
    background-image: $color-secondary-gradient;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .06), inset 0 2px 0 0 rgba(255, 255, 255, .16);
    color: $color-ink-light-normal;
    font-family: $headings-font-family;
    font-size: $display-1-font-size;
    font-weight: 300;
    letter-spacing: -.04em;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(0, 140, 75, .4);
    text-transform: none;
    padding: 2.4rem 0 0;
    height: 11.4rem;
  }

  // Per cents
  small {
    font-size: $headline-lg-font-size;
  }
}

.card-stat.compact {
  box-shadow: none;
  margin-bottom: 5.2rem;

  @include media-breakpoint-up(md) {
    background: $transparent;
    box-shadow: none;
    margin-bottom: 0;
  }

  .card-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06), inset 0 0 0 1px rgba(0, 0, 0, .06), inset 0 2px 0 0 rgba(255, 255, 255, .16);
    padding: .9rem 0 0;
    height: 8.4rem;

    @include media-breakpoint-up(md) {
      border-radius: 3px;
    }
  }

  .card-block {
    @include media-breakpoint-up(md) {
      padding: 1.2rem 0 0;
    }
  }
}




// -----------------------------------------------------------------------------
// Vertical Rhythm w/ Cards Involved
// -----------------------------------------------------------------------------

p + .card {
  margin-top: 0; // 4 lines from first .panel baseline to previous <p> last baseline
}

.card + p {
  margin-top: 0; // 4 lines from first <p> baseline to last .panel baseline
}
