@use 'sass:math';
@use '../../styles/abstracts' as *;

// -----------------------------------------------------------------------------
// CONTAINER & SECTIONS
// -----------------------------------------------------------------------------
// #region

.card {
  background-clip: padding-box;
  background: var(--color-background-base);
  border-radius: $border-radius-base;
  box-shadow: var(--box-shadow-z2);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: calc(var(--padding-x-box) / 2) 0;
  position: relative;
}

.card > header,
.card__copy,
.card > footer {
  padding-inline: var(--padding-x-box);
}

.card > header {
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
  margin-top: calc(-1 * var(--padding-x-box) / 2);
  padding-top: $size-3;
}

.card__copy {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .card:has(> footer) & :last-child {
    margin-bottom: 0;
  }
}

.card > footer {
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  display: flex;
  margin-bottom: calc(-1 * var(--padding-x-box) / 2);
  padding-top: $size-2;
  padding-bottom: $size-line;

  li::marker {
    display: none;
  }
}

.card__footer-item + .card__footer-item {
  margin-left: $size-2;
}
// #endregion

// -----------------------------------------------------------------------------
// CONTENT
// -----------------------------------------------------------------------------
// #region

.card__heading {
  @include text-format(big);

  font-family: $font-family-title;
  margin-bottom: 0;
}

.card__summary {
  @include multiline-truncate();

  color: var(--color-ink-2ry);
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: $size-line * 9;
}
// #endregion

// -----------------------------------------------------------------------------
// VARIANTS
// -----------------------------------------------------------------------------
// #region

// Frosted glass
.card.is-frosted-glass {
  background-color: var(--color-background-frosted-glass);
  backdrop-filter: var(--color-background-frosted-glass-backdrop);
}

// Pullquote
blockquote,
.card.is-pullquote {
  background-color: var(--color-background-2ry);
  margin-block: $size-line;
  padding: var(--padding-x-box);
}

blockquote {
  border-radius: $border-radius-base;
  box-shadow: var(--box-shadow-z2);
  display: flex;
  flex-direction: column;
  text-align: left;
}
// #endregion
