.form.is-search {
  position: relative;
}

// Input
.form__search-input {
  background: $color-background-2ry;
  border: 0;
  border-radius: 4px;
  margin-bottom: 0;

  &::placeholder {
    color: $color-ink-3ry;
  }

  // Dev style
  // &:focus {
  //   background-color: #fcc;
  // }
}

// Button
.btn-search {
  background: $transparent;
  border: 0;
  border-radius: 0;
  opacity: .64;
  position: absolute;
  transition: opacity .2s;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.icon.is-search {
  transition: $duration-sm stroke;
  width: 16px;
  height: 16px;
}

// -----------------------------------------------------------------------------
// RESULTS
// -----------------------------------------------------------------------------


.main.is-search .form.is-search {
  padding-top: $size-line + 1.1rem;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    margin-top: 1.1rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: $size-line * 3 + 1.1rem;
  }
}

.main.is-search .form__search-input {
  padding-left: $size-2;
  padding-right: 4rem;

  @include media-breakpoint-up(md) {
    font-size: $headline-md-font-size;
    font-weight: 300;
    line-height: $headline-md-line-height;
    padding-left: $size-line;
    padding-right: 4rem;
    height: 56px;
  }
}

.main.is-search .btn-search {
  top: 3.6rem;
  right: 0;
  width: 4.6rem;
  height: 4.6rem;

  @include media-breakpoint-up(md) {
    top: 0;
    width: 5.6rem;
    height: 5.6rem;
  }
}
