// Bootstrap and plugins styles
@import './src/base/variables';
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

@include media-breakpoint-up(lg) {
  .project-gallery.is-gambling-games {
    grid-template-rows: repeat(13, 18.4rem);
  }
}

.project-gallery__item.is-dice {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.project-gallery__item.is-big-6 {
  @include media-breakpoint-up(lg) {
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.project-gallery__item.is-poker {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

.project-gallery__item.is-blackjack {
  @include media-breakpoint-up(lg) {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

.project-gallery__item.is-backgammon {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8;
  }
}

.project-gallery__item.is-sic-bo {
  @include media-breakpoint-up(lg) {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 7;
  }
}

.project-gallery__item.is-slot-7th-avenue {
  @include media-breakpoint-up(lg) {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 9;
  }
}

.project-gallery__item.is-wonder-wheel {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 10;
  }
}

.project-gallery__item.is-mobile-poker {
  display: none;

  @include media-breakpoint-up(lg) {
    background: #000;
    display: flex;
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
  }
}

.project-gallery__item.is-slot-symbols {
  display: none;

  @include media-breakpoint-up(lg) {
    background: #000;
    display: flex;
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 10;
  }
}

.project-gallery__item.is-mega-hi-lo {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 12;
  }
}

.project-gallery__item.is-super-hi-lo {
  @include media-breakpoint-up(lg) {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 12;
  }
}

.project-gallery__item.is-fresh-n-juicy {
  background: #000;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 14;
  }
}

.project-gallery__item.is-card-games {
  background: #000;
  width: auto;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: flex-end;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 14;
  }
}

.is-card-games .slider__item ~ .slider__item,
.is-2-slots .slider__item ~ .slider__item {
  top: auto;
  bottom: 0;
}

.project-gallery__item.is-2-slots {
  background: #000;
  width: auto;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 14;
  }
}
