// Bootstrap and plugins styles
@import './src/base/variables';
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

@include media-breakpoint-up(lg) {
  .project-gallery.is-oldie-games {
    grid-template-rows: repeat(15, 18.4rem);
  }
}

.project-gallery__item {
  background: rgb(245, 248, 252);
}

.project-gallery__item.is-cubis {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.project-gallery__item.is-rubiks-cube {
  @include media-breakpoint-up(lg) {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.project-gallery__item.is-electronics {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}

.project-gallery__item.is-mig {
  @include media-breakpoint-up(lg) {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}

.project-gallery__item.is-15-puzzle {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
  }
}

.project-gallery__item.is-bejeweled {
  @include media-breakpoint-up(lg) {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 10;
  }
}

.project-gallery__item.is-arkanoid {
  @include media-breakpoint-up(lg) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 13;
  }
}

.project-gallery__item.is-tetris {
  @include media-breakpoint-up(lg) {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 13;
  }
}

.project-gallery__item.is-solitaires {
  @include media-breakpoint-up(lg) {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 13;
    grid-row-end: 16;
  }
}
