// -----------------------------------------------------------------------------
// ACTIVITY SPINNER
// -----------------------------------------------------------------------------

.icon-spinner { animation: spin 1000ms infinite linear; }

// stylelint-disable block-opening-brace-space-before
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
// stylelint-enable block-opening-brace-space-before

// -----------------------------------------------------------------------------
// SHARED
// -----------------------------------------------------------------------------

.inline-icon-on-left,
%inline-icon-on-left {
  position: relative;
  padding-left: 24px;

  .icon {
    position: absolute;
    left: 0;
  }
}

.icon-on-right,
%icon-on-right {
  text-decoration: none;
  padding-right: 16px;
}

.icon-font-medium-right,
%icon-font-medium-right {
  background-position: calc(100% - 8px) .9rem;
  padding-right: 24px;

  &:hover {
    color: $link-color;
  }
}

.spinner,
%spinner {
  width: 20px;
  height: 20px;
}

.icon.is-rss {
  fill: var(--color-ink-icon);
  margin-right: .4rem;
  transform: translateY(-.3rem);
}
