// -----------------------------------------------------------------------------
// ACTIVITY SPINNER
// -----------------------------------------------------------------------------

.icon.is-spinner { animation: spin 1000ms infinite linear; }

// stylelint-disable block-opening-brace-space-before
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
// stylelint-enable block-opening-brace-space-before

// -----------------------------------------------------------------------------
// SHARED
// -----------------------------------------------------------------------------

.has-left-icon,
%has-left-icon {
  position: relative;
  padding-left: 24px;

  .icon {
    position: absolute;
    left: 0;
  }
}

.spinner,
%spinner {
  width: 20px;
  height: 20px;
}

.icon.is-rss {
  margin-right: .4rem;
  transform: translateY(-.3rem);
}
