// There are essential resets and base styles in the Bootstrap reboot.scss

html {
  // Base font-size has set up to of 62.5% (10px) to have the convenience
  // of sizing rems in a way that is similar to using px.
  // body { font-size: 1.6rem; }
  font-size: 62.5%;
  // scrollbar-gutter: stable;
}

html,
body {
  height: 100%;
}

body {
  // Anti-aliasing. Autoprefixer doesn’t support font-smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $color-background-negative url('#{$site-assets}/img/base/body/bg.png');
  text-align: center;

  // Add space for fixed header
  padding: 5.6rem 0 0;
  // padding:
  //   calc(env(safe-area-inset-top) + 5.6rem)
  //   env(safe-area-inset-right)
  //   env(safe-area-inset-bottom)
  //   env(safe-area-inset-left);

  transition: background-color $duration-lg $easing-appearance;
  min-height: 100%;

  @include media-breakpoint-up(md) {
    background-color: $color-background-base;
    background-image: none;
    background-position: 50% calc(50% + 102px);
    background-repeat: no-repeat;
    padding-top: 0;
  }
}


// -----------------------------------------------------------------------------
// HEADER YELLOW PATCH
// -----------------------------------------------------------------------------

// Create pseudo element to expand yellow banner on tablets to left browser edge

.has-main-header {

  &::before {
    @include media-breakpoint-up(md) {
      background-color: $color-primary;
      content: '';
      display: block;
      position: absolute;
      top: 192px;
      left: 0;
      width: calc(100% - 768px);
      height: 192px;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

