$chevvy-top-position: 1.6rem;


// -----------------------------------------------------------------------------
// BODY AND HEADING COMMON STYLES
// -----------------------------------------------------------------------------

.collapse-toggler,
.main-collapse {
  background-color: $color-background-2ry;
}

// -----------------------------------------------------------------------------
// COLLAPSIBLE SECTION HEADER
// -----------------------------------------------------------------------------

.collapse-toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 100%;
  font-weight: bolder;
  position: relative;
  text-align: left;
  text-transform: none;

  // 'HR' margin
  margin-top: 1px;
  margin-bottom: 0;
  padding-block: 0;
  // Right padding for chevron
  padding-inline: $size-3 $size-4;
  transition: color $duration-sm;
  height: $size-7 - .1rem;
}

// The first item under the picture. Remove margin and increase top padding
.collapse-toggler.is-first {
  @include media-breakpoint-up(md) {
    border-radius: $border-radius $border-radius 0 0;
  }
}

.collapse-toggler .icon.is-chevron-down {
  position: absolute;
  top: 1.8rem;
  right: ($size-1 * 1.5);
  transition: transform $duration-sm $easing;
}

.collapse-toggler[aria-expanded='true'] .icon.is-chevron-down {
  transform: rotate(180deg);
}

.collapse-toggler.is-single,
.collapse-toggler.is-first {
  border-radius: $border-radius $border-radius 0 0;
}

.collapse-toggler.is-single.collapsed {
  border-radius: $border-radius;
  margin-bottom: $size-line;
}

// -----------------------------------------------------------------------------
// COLLAPSIBLE SECTION BODY
// -----------------------------------------------------------------------------

.main-collapse {
  padding: 0 ($size-1 * 3) 1.8rem;

  > :first-child {
    padding-top: 0;
  }
}

.is-single + .main-collapse {
  border-radius: 0 0 $border-radius $border-radius;
  margin-bottom: $size-line;
}

.main-collapse.is-nested-ol {
  margin-bottom: $size-1 * 3;
  padding-top: .3rem;
  padding-left: $size-1 * 4;
  padding-bottom: $size-1 * 3;
}

// -----------------------------------------------------------------------------
// READ MORE IN BLOG FEED
// -----------------------------------------------------------------------------

.collapse-full-story-toggler {
  border: 0;
  cursor: pointer;
  display: inline;
  white-space: nowrap;
  padding: 0;
}

