---
lang: ru
title: 'Темы блога'
description: 'Illustrator, Figma, Sketch, WordPress и личное.'
permalink: /ru/blog/categories
is-index: true
layout: page
styles-addons: ['/css/blog.css']
class: 'is-blog is-links'
---


<h1 class="main__title">
  {{ page.title }}
</h1>
<p class="main__lead">
  Illustrator, Figma, Sketch, WordPress и личное.
</p>

{% for category in site.categories %}
  <section class="section is-articles-list">
    {% capture category-name %}{{ category | first }}{% endcapture %}
    {% comment %} It's required for correct hash links work {% endcomment %}
    <a name="{{ category-name | slugify | uri_escape }}"></a>
    <h2 class="section__title" id="#{{ category-name | slugify | uri_escape }}">
      {% include icon.html name="tag" %}
      {{ category-name }}
    </h2>

    <ul class="section__list">
      {% for post in site.categories[category-name] %}
        <li>
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}2008-02-14 20:00">{{ post.date | date: '%d.%m.%Y' }}</time>
          <a href="{{ post.url }}">{{ post.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}


