---
lang: ru
title: 'Блог'
description: 'Личные конспекты по графическим редакторам, веб-технологиям и диджитал-маркетингу.'
# Don't set a permalink. Setting a permalink in the front matter of your blog page will cause pagination to break.The paginate_path is set in the config.
layout: page
is-index: true
styles-addons: ['/css/blog.css']
class: 'is-blog'
pagination:
  enabled: true
---

{% comment %} LIST {% endcomment %}
<h1 class="main__title is-breadcrumbs"><b>Блог<span class="visually-hidden"> —</span></b> Профессиональное и личное</h1>
{% for post in paginator.posts %}
  {% include snippet.html %}
{% endfor %}

{% comment %} PAGINATION LINKS. The same for both versions of the pagination plugin {% endcomment %}
{% if paginator.total_pages > 1 %}
{% include pagination.html %}
{% endif %}
