.header {
  background: $color-background-negative url('#{$site-assets}/img/base/body/bg.png');
  padding-top: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: $zindex-fixed;

  @include media-breakpoint-up(md) {
    background: $transparent none;
    margin: 0 auto;
    position: relative;
    width: 660px;
    height: 144px;
  }

  @include media-breakpoint-up(lg) {
    text-align: center;
    margin: 0;
    position: absolute;
    right: auto;
    left: 0;
    width: 160px;
    height: 240px;
  }
}


// LINKS

.header a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}


// -----------------------------------------------------------------------------
// HAMBURGER AND LANGUAGE SWITCHER
// -----------------------------------------------------------------------------

.header-lang-switcher,
.header-navbar-toggler,
.header__back {
  appearance: none;
  background: $transparent;
  border: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  user-select: none;
  transition: background $duration-xs $easing;
  width: 48px;
  height: 56px;

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:hover {
    background: $color-ink-min;
  }

  @include media-breakpoint-up(md) {
    height: 48px;
  }
}

// LANGUAGE SWITCHER
.header-lang-switcher {
  padding: 1.5rem 0 0 17px;
  top: 0;
  right: 0;

  &.is-mobile { // On mobile
    @extend .d-md-none;
  }
}


// NAVBAR TOGGLER (HAMBURGER) & BACK BUTTON

.header-navbar-toggler,
.header__back {
  @extend .d-lg-none;

  padding: 0 0 .2rem;
  top: 0;
  left: 0;

  .icon {
    --icon-fill: #{$color-ink-light-2ry};
  }

  @include media-breakpoint-up(md) {
    border-radius: $border-radius;
    top: 75px;
    left: -46px;
  }
}

.icon.is-hamburger {
  margin: 0 auto;
  transition: stroke $duration-sm $easing;

  @include media-breakpoint-down(md) {
    --icon-stroke: #{$color-ink-light-2ry};
  }

  @include media-breakpoint-up(md) {
    .is-highlight & {
      --icon-stroke: #{$color-brand-700};
    }
  }
}

.header__back .icon {
  margin: 0 auto;
}


// -----------------------------------------------------------------------------
// CTA BUTTON
// -----------------------------------------------------------------------------

// 👉 _buttons

// -----------------------------------------------------------------------------
// CONTEXT MENU
// -----------------------------------------------------------------------------

// Extend Bootstrap dropdown component
// @see dropdown/context-menu

.header .context-menu {
  top: -15px;
  // Skype and mail
  left: 120px;
  padding: 47px 31px 31px;
  width: 400px;

  // Caret
  &::before {
    top: 55px;
  }

  &::after {
    top: 56px;
  }

  &-footer {
    color: $color-ink-2ry;
    border-top: 1px solid $color-ink-border;
    margin-top: .7rem;
    padding-top: 1.6rem;

    > p {
      padding-bottom: .8rem;
    }

    // Skype and mail
    li {
      padding-left: 24px;
      position: relative;

      &:first-child {
        margin-bottom: $size-1;
      }
    }

    .icon {
      position: absolute;
      top: .3rem;
      left: 0;
    }

  }

  a,
  a:visited {
    color: $color-ink-2ry;
    cursor: text;
  }
}

.header .context-menu-heading {
  margin-left: -1.3rem;
}
