.header {
  background: $color-background-negative url('#{$site-assets}/img/base/body/bg.png');
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: $zindex-fixed;

  @include media-breakpoint-up(md) {
    background: $transparent none;
    margin: 0 auto;
    position: relative;
    width: 660px;
    height: 144px;
  }

  @include media-breakpoint-up(lg) {
    text-align: center;
    margin: 0;
    position: absolute;
    right: auto;
    left: 0;
    width: 160px;
    height: 240px;
  }
}


// LINKS

.header a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}


// -----------------------------------------------------------------------------
// HAMBURGER AND LANGUAGE SWITCHER
// -----------------------------------------------------------------------------

.header-lang-switcher,
.header-navbar-toggler,
.header__back {
  appearance: none;
  background: $transparent;
  border: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  user-select: none;
  vertical-align: top;
  transition: background $duration-xs $easing;
  width: 48px;
  height: 56px;

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:hover {
    background: rgba(0, 0, 0, .24);

    @include media-breakpoint-up(md) {
      background: rgba(0, 0, 0, .04);
    }
  }

  @include media-breakpoint-up(md) {
    height: 48px;
  }
}

// LANGUAGE SWITCHER
.header-lang-switcher {
  padding: 2rem 0 0 17px;
  top: 0;
  right: 0;

  &.is-mobile { // On mobile
    @extend .d-md-none;
  }
}


// NAVBAR TOGGLER (HAMBURGER) & BACK BUTTON

.header-navbar-toggler,
.header__back {
  @extend .d-lg-none;

  padding: .1rem 0 0;
  top: 0;
  left: 0;

  @include media-breakpoint-up(md) {
    border-radius: 3px;
    top: 75px;
    left: -46px;
  }
}

.icon-hamburger {
  display: inline-block;
  margin: 0 auto;
  fill: $grey-l88;
  transition: fill $duration-sm $easing;
  width: 16px;
  height: 16px;

  @include media-breakpoint-up(md) {
    fill: $logo-super-color;

    .is-highlight & {
      fill: $color-ink-on-highlight-muted;
    }
  }
}

.header__back .icon {
  // display: block;
  // width: 16px;
  // height: 16px;
  // vertical-align: middle;

  fill: $grey-l88;
  margin: 0 auto;
}


// -----------------------------------------------------------------------------
// CTA BUTTON
// -----------------------------------------------------------------------------

// 👉 _buttons

// -----------------------------------------------------------------------------
// CONTEXT MENU
// -----------------------------------------------------------------------------

// Extend Bootstrap dropdown component
// @see dropdown/context-menu

.header .context-menu {
  top: -15px;
  // Skype and mail
  left: 120px;
  padding: 47px 31px 31px;
  width: 400px;

  // Caret
  &::before {
    top: 55px;
  }

  &::after {
    top: 56px;
  }

  &-footer {
    color: $color-ink-muted;
    border-top: 1px solid $color-ink-border;
    margin-top: .7rem;
    padding-top: 1.6rem;

    > p {
      padding-bottom: .8rem;
    }

    // Skype and mail
    li {
      padding-left: 24px;
      position: relative;
    }

    .icon {
      fill: var(--color-ink-icon);
      position: absolute;
      top: .5rem;
      left: 0;
    }

  }

  a,
  a:visited {
    color: $color-ink-muted;
    cursor: text;
  }
}

.header .context-menu-heading {
  margin-left: -1.3rem;
}
