// stylelint-disable selector-max-compound-selectors

// -----------------------------------------------------------------------------
// ANIMATION
// -----------------------------------------------------------------------------

@include media-breakpoint-down(md) {
  .navbar {
    // Hide
    transform: translateX(-265px);
    visibility: hidden;

    // Animation settings
    // CSS transitions are simpler to manage but we want to add bounce effect
    // on opening so need to use animation instead.
    animation: slidein $duration $easing-appearance;

    // Open
    &-open {
      animation: slideout $duration-sm $easing-disappearance;
      transform: translateX(0);
    }

    // Hide initial animation
    &-visible {
      visibility: visible;
    }
  }

  // Opening slide w/ bounce
  // stylelint-disable block-opening-brace-space-before
  @keyframes slideout {
    0%   { transform: translateX(-265px); }
    60%  { transform: translateX(0); }
    75%  { transform: translateX(-5px); }
    90%  { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }

  // Closing slide
  @keyframes slidein {
    from { transform: translateX(0); }
    to   { transform: translateX(-265px); }
  }
  // stylelint-enable block-opening-brace-space-before
}


// -----------------------------------------------------------------------------
// BODY
// -----------------------------------------------------------------------------

.navbar {
  // Drawer on mobiles
  background: $color-background-primary;
  border-radius: 0;
  display: block;
  padding: 0 0 89px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 264px;
  z-index: $zindex-popover;

  // On desktops
  @include media-breakpoint-up(lg) {
    background: $transparent;
    padding: 0;
    position: absolute;
    top: 267px;
    left: 0;
    bottom: auto;
    // transform: translateX(0);
    width: 160px;
    z-index: $zindex-dropdown;
  }
}


// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------

.navbar-header {
  @extend .d-lg-none;
  background: $color-background-negative url('#{$site-assets}/img/base/body/bg.png');
  height: 56px;
  position: relative;

  > .btn.lang { // On tablets
    @extend .d-none, .d-md-block, .d-lg-none;
    position: absolute;
    top: 17px;
    right: 4px;
  }
}

.navbar-logo {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 141px;
  height: 28px;

  > .logo-mark {
    top: 0;
    left: 0;
  }

  > .logo-type {
    position: absolute;
    top: 3px;
    left: 31px;
  }

  @include media-breakpoint-up(md) {
    top: 16px;
  }
}


// -----------------------------------------------------------------------------
// SEARCH FORM
// -----------------------------------------------------------------------------

.navbar > .form.is-search {
  @extend .d-lg-none;
  padding: 38px 16px 0;

  // Input
  .form__search-input {
    padding: 8px 46px 8px 31px;
  }

  // Button
  .btn-search {
    padding: 14px 15px 0;
    top: 3.7rem;
    right: 17px;
  }
}


// -----------------------------------------------------------------------------
// MAIN MENU
// -----------------------------------------------------------------------------


.navbar-primary {
  display: block;
  padding: 3.2rem 16px 12px;

  > li {
    margin-bottom: 8px;
  }

  // Links on phones and tablets
  > li a,
  > li a:visited {
    background: $transparent url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Echevron-right%3C%2Ftitle%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15%2015H0V0h15z%22%2F%3E%3Cpath%20d%3D%22M10.296%208.296l-3.565%203.96-.669.744-1.487-1.338.67-.743%202.997-3.331-2.998-3.331-.669-.744%201.487-1.338.669.744%203.565%203.96.704.634-.067.075.067.074-.704.634z%22%20fill%3D%22%23B5B8BC%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 12px 1.2rem;
    border-radius: $border-radius;
    color: $color-ink-muted;
    display: block;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
    padding: 8px 12px 8px 32px;
    position: relative;
    white-space: nowrap;
    transition:
      background-color $duration-xs $easing,
      color $duration-xs $easing;
  }

  > li a:active,
  > li a:hover,
  > li a:focus {
    background-color: $grey-l88;
    color: $color-ink-normal;
    text-decoration: none;
  }

  // Desktop
  @include media-breakpoint-up(lg) {
    // Change padding
    padding: 1.3rem 0 4.2rem;

    > li {
      margin-bottom: 1px;
    }

    // Links on desktops
    > li a,
    > li a:visited {
      background-image: none;
      text-align: center;
      text-shadow: none;
      padding: 6px 12px 5px;

      .is-highlight & {
        color: $color-ink-light-muted;
      }
    }

    > li a:active,
    > li a:focus,
    > li a:hover {
      background-color: rgba(0, 0, 0, .04);

      .is-highlight & {
        color: $color-ink-light-normal;
      }
    }
  }
}

.is-highlight {
  .navbar-primary > li a {
    &:active,
    &:focus {
      @include media-breakpoint-up(lg) {
        background-color: $color-primary-dark;
      }
    }
  }
}

// CURRENT SECTION HIGHLIGHTING

.single-post .navbar-primary-link.blog {
  background-color: rgb(221, 224, 228);
  border-radius: $border-radius;
  color: $color-ink-normal;
  cursor: default;
  pointer-events: none;

  @include media-breakpoint-up(lg) {
    background-color: rgba(0, 0, 0, .04);
  }
}


// -----------------------------------------------------------------------------
// SECONDARY MENU
// -----------------------------------------------------------------------------

.navbar-secondary {
  @extend .d-none, .d-lg-block;
  text-align: center;

  // Search and Language bases
  li {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    position: relative;
  }

  li:first-child::before {
    background: rgba(0, 0, 0, .12);
    box-shadow: 1px 0 0 rgba(255, 255, 255, .2);
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 1px;
    height: 32px;
  }
}

// Buttons common
.navbar-secondary .link-flag,
.navbar-secondary .btn-search {
  border-radius: $border-radius-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;

  &:active,
  &:focus,
  &:hover {
    background: rgba(0, 0, 0, .04);
    text-decoration: none;

    .is-highlight & {
      background: rgb(229, 166, 0);
    }
  }

  &.active { cursor: default;}
}

// SEARCH BTN / ICON

.navbar-secondary .btn-search {
  opacity: 1;
  position: static;

  &:hover .icon-search {
    opacity: 1;
  }
}

// Icon
.navbar-secondary .icon-search {
  opacity: .64;

  .is-highlight & {
    fill: rgb(140, 102, 0);
  }
}


// -----------------------------------------------------------------------------
// CTA BUTTON
// -----------------------------------------------------------------------------

// 👉 _buttons


// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------

.navbar-footer {
  @extend .d-lg-none;

  @media (min-height: 480px) {
    position: absolute;
    bottom: 2.4rem;
    // On iPhone footer does not stay on left: 16px. So I've added margins to
    // .social-tools
    left: 0; // 1
    width: 264px;
  }

  @media (min-height: 760px) {
    bottom: 38px;
  }

  // Pic and CTA
  > .cta {
    @extend .d-none, .d-md-block ;
    display: none;

    @media (min-height: 760px) {
      display: block;
      margin: 0;
      padding: 0 96px 57px 32px;
    }
  }

  // Girl
  > .cta img {
    position: absolute;
    right: 8px;
    bottom: 96px;
  }

  // On desktops
  @include media-breakpoint-up(lg) {
    position: static;
  }
} // footer box


// Social sharing. Extended by placeholder from btn/btn

.navbar .social-tools-group {
  margin: 0 16px;

  @media (min-height: 760px) {
    margin: 0 31px 0 32px;
  }
}

.navbar .social-tools-group.is-first {
  border-top: 1px solid $color-ink-border;
  padding-top: 29px;

  @media (min-height: 760px) {
    padding-top: 79px;
  }
}
