// stylelint-disable selector-max-compound-selectors

// -----------------------------------------------------------------------------
// ANIMATION
// -----------------------------------------------------------------------------

@include media-breakpoint-down(md) {
  .navbar {
    // Hide
    transform: translateX(-265px);
    visibility: hidden;

    // Animation settings
    // CSS transitions are simpler to manage but we want to add bounce effect
    // on opening so need to use animation instead.
    animation: slidein $duration $easing-appearance;

    // Open
    &-open {
      animation: slideout $duration-sm $easing-disappearance;
      transform: translateX(0);
    }

    // Hide initial animation
    &-visible {
      visibility: visible;
    }
  }

  // Opening slide w/ bounce
  // stylelint-disable block-opening-brace-space-before
  @keyframes slideout {
    0%   { transform: translateX(-265px); }
    60%  { transform: translateX(0); }
    75%  { transform: translateX(-5px); }
    90%  { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }

  // Closing slide
  @keyframes slidein {
    from { transform: translateX(0); }
    to   { transform: translateX(-265px); }
  }
  // stylelint-enable block-opening-brace-space-before
}


// -----------------------------------------------------------------------------
// BODY
// -----------------------------------------------------------------------------

.navbar {
  // Drawer on mobiles
  background: $color-background-base;
  border-radius: 0;
  display: block;
  padding:
    0
    0
    $size-1 * 11
    env(safe-area-inset-left);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 264px;
  z-index: $zindex-popover;

  // On desktops
  @include media-breakpoint-up(lg) {
    background: $transparent;
    padding: 0;
    position: absolute;
    top: 267px;
    left: 0;
    bottom: auto;
    // transform: translateX(0);
    width: 160px;
    z-index: $zindex-dropdown;
  }
}


// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------

.navbar-header {
  @extend .d-lg-none;
  background: $color-background-negative url('#{$site-assets}/img/base/body/bg.png');
  height: 56px;
  position: relative;

  > .btn.lang { // On tablets
    @extend .d-none, .d-md-block, .d-lg-none;
    position: absolute;
    top: 17px;
    right: 4px;
  }
}

.navbar-logo {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 141px;
  height: 28px;

  > .logo-mark {
    top: 0;
    left: 0;
  }

  > .logo-type {
    position: absolute;
    top: 3px;
    left: 31px;
  }

  @include media-breakpoint-up(md) {
    top: 16px;
  }
}


// -----------------------------------------------------------------------------
// SEARCH FORM
// -----------------------------------------------------------------------------

.navbar > .form.is-search {
  @extend .d-lg-none;
  padding: 38px 16px 0;

  // Input
  .form__search-input {
    padding: 8px 46px 8px 31px;
  }

  // Button
  .btn-search {
    padding: .2rem 15px 0;
    top: 3.7rem;
    right: 17px;
    height: 40px;
  }
}


// -----------------------------------------------------------------------------
// MAIN MENU
// -----------------------------------------------------------------------------


.navbar-primary {
  display: block;
  padding: 3.2rem 16px 12px;

  > li {
    margin-bottom: 8px;
  }

  // Links on phones and tablets
  > li a,
  > li a:visited {
    border-radius: $border-radius;
    color: $color-ink-2ry;
    display: block;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
    padding: $size-1 $size-1p5;
    position: relative;
    white-space: nowrap;
    transition:
      background-color $duration-xs $easing,
      color $duration-xs $easing;
  }

  > li a:active,
  > li a:hover,
  > li a:focus {
    background-color: $color-ink-min;
    color: $color-ink-base;
    text-decoration: none;
  }

  // Desktop
  @include media-breakpoint-up(lg) {
    // Change padding
    padding: 1.3rem 0 4.2rem;

    > li {
      margin-bottom: 1px;
    }

    // Links on desktops
    > li a,
    > li a:visited {
      background-image: none;
      text-align: center;
      text-shadow: none;
      padding: 6px 12px 5px;

      .is-highlight & {
        color: $color-ink-on-highlight-inverted;
      }
    }

    > li a:active,
    > li a:focus,
    > li a:hover {
      background-color: $color-ink-min;

      .is-highlight & {
        color: $color-ink-light-base;
      }
    }
  }
}

.navbar-primary > li a .icon {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.is-highlight {
  .navbar-primary > li a {
    &:active,
    &:focus {
      @include media-breakpoint-up(lg) {
        background-color: $color-primary-tint-1;
      }
    }
  }
}

// CURRENT SECTION HIGHLIGHTING

.single-post .navbar-primary-link.blog,
.p-blog .navbar-primary-link.blog {
  background-color: $color-ink-min;
  border-radius: $border-radius;
  color: $color-ink-base;
  // cursor: default;
  // pointer-events: none;

  @include media-breakpoint-up(lg) {
    background-color: $color-ink-min;
  }
}


// -----------------------------------------------------------------------------
// SECONDARY MENU
// -----------------------------------------------------------------------------

.navbar-2ry {
  @extend .d-none, .d-lg-flex;

  justify-content: center;

  // Search and Language bases
  li {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    position: relative;
    vertical-align: bottom;

    &:first-child {
      border-right: 1px solid $color-ink-border;
    }
  }
}

.is-highlight .navbar-2ry > li:first-child {
  border-right: 1px solid $color-brand-600;
}

// Buttons common
.navbar-2ry .link-flag,
.navbar-2ry .btn-search {
  border-radius: $border-radius-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;

  &:active,
  &:focus,
  &:hover {
    background: $color-ink-min;
    text-decoration: none;
  }

  &.active { cursor: default;}
}

// SEARCH BTN / ICON

.navbar-2ry .btn-search {
  opacity: 1;
  position: static;
}

.icon.is-search {
  --icon-stroke: #{$color-ink-3ry};
}

// Icon
.is-highlight .icon.is-search {
  --icon-stroke: #{$color-brand-700};
}


// -----------------------------------------------------------------------------
// CTA BUTTON
// -----------------------------------------------------------------------------

// 👉 _buttons


// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------

.navbar-footer {
  @extend .d-lg-none;

  @media (min-height: 480px) {
    position: absolute;
    bottom: 2.4rem;
    // On iPhone footer does not stay on left: 16px. So I've added margins to
    // .social-tools
    left: 0; // 1
    width: 264px;
  }

  @media (min-height: 760px) {
    bottom: 38px;
  }

  // Pic and CTA
  > .cta {
    @extend .d-none, .d-md-block ;
    display: none;

    @media (min-height: 760px) {
      display: block;
      margin: 0;
      padding: 0 96px 57px 32px;
    }
  }

  // Girl
  > .cta img {
    position: absolute;
    right: 8px;
    bottom: 96px;
  }

  // On desktops
  @include media-breakpoint-up(lg) {
    position: static;
  }
} // footer box


// Social sharing. Extended by placeholder from btn/btn

.navbar .social-tools-group {
  margin: 0 16px;

  @media (min-height: 760px) {
    margin: 0 31px 0 32px;
  }
}

.navbar .social-tools-group.is-first {
  border-top: 1px solid $color-ink-border;
  padding-top: 29px;

  @media (min-height: 760px) {
    padding-top: 79px;
  }
}
