@use '../theme/config' as *;

.meta {
  display: flex;
  align-items: center;
}

.meta time {
  border-right: 1px solid var(--color-ink-border);
  color: var(--color-ink-2ry);
  margin-right: $size-1p5;
  padding-right: $size-1p5 - rem(1);
}

.meta .icon {
  margin-right: $size-half;
  translate: 0 -1px;
}


.meta__comments {
  display: none;

  @media (--phone-l) {
    display: block;
    margin-left: auto;
  }
}

:where(.meta) .is-share .popover__body {
  bottom: 3.5rem;
  right: -1rem;
  left: auto;
}
