@use '../styles/abstracts' as *;

.toast {
  --background: var(--color-background-2ry);
  --background-image: var(--icon-info);
  --color: var(--color-ink-2ry);

  background-color: var(--background);
  background-image: var(--background-image);
  background-position: left $size-2 top $size-2p5;
  background-repeat: no-repeat;
  background-size: $size-icon-xy auto;
  border-radius: $border-radius-base;
  box-shadow: var(--box-shadow-z2);
  color: var(--color-success-text);
  padding-top: calc(var(--padding-top-base) + #{$size-1p5});
  padding-bottom: calc(var(--padding-bottom-base) + #{$size-2});
  padding-right: $size-3;
  padding-left: $size-6;
  opacity: 0;
  position: fixed;
  left: 50%;
  bottom: $size-2;
  translate: -50% ($size-6);
  transition: translate $duration-sm $easing-base,
    opacity $duration-sm $easing-base;
  width: fit-content;
  min-width: $width-sm;
  max-width: calc(100vw - var(--padding-x-container) * 2);
  z-index: $zindex-fixed;

  @media (--tablet-l) {
    max-width: $width-xl;
  }
}

.toast.is-success,
.toast.is-error {
  opacity: 1;
  translate: -50% 0;
}

.toast.is-success {
  --background: var(--color-success-background);
  --background-image: var(--icon-success);
  --color: var(--color-success-text);
}

.toast.is-error {
  --background: var(--color-error-background);
  --background-image: var(--icon-error);
  --color: var(--color-error-text);
}
// #endregion
