@use '../styles/config' as *;

@use 'sass:math';

// An element that has a tooltip
.has-tooltip {
  --tooltip-background: var(--color-background-scrim);
  --tooltip-arrow-width: #{$size-1};
  --tooltip-padding: #{$size-1p5 ($size-1 * 2)};
  --tooltip-offset: #{$size-1 * 2};
  --tooltip-width: #{$width-sm};

  position: relative;

  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity $duration-xs $easing-base,
      translate $duration-xs $easing-appearance;
    visibility: hidden;
  }

  // Tooltip's body
  &::after {
    background-color: var(--tooltip-background);
    border-radius: $border-radius-sm;
    color: var(--color-ink-inverse-base);
    content: attr(aria-label);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    text-transform: none;
    white-space: normal;
    padding: var(--tooltip-padding);
    width: max-content;
    max-width: var(--tooltip-width);
    z-index: $zindex-tooltip;
  }

  // Tooltip's arrow
  &::before {
    background: transparent;
    border: calc(var(--tooltip-arrow-width) / 2) solid transparent;
    content: '';
    z-index: $zindex-tooltip + 1;
  }

  // Show the tooltip on hover and focus
  &:focus-visible {
    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      &::before,
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Top, default
.has-tooltip:not(.is-right):not(.is-bottom):not(.is-left) {
  &::before,
  &::after {
    bottom: 100%;
    left: 50%;
  }

  &::after {
    translate: -50% $size-line;
  }

  &::before {
    border-top-color: var(--tooltip-background);
    margin-left: calc(var(--tooltip-arrow-width) / -2);
    translate: 0 var(--tooltip-arrow-width);
  }

  &:hover,
  &:focus-visible,
  &:active {
    &::before {
      translate: 0;
    }

    &::after {
      translate: -50% calc(var(--tooltip-arrow-width) * -1);
    }
  }
}

// Bottom and side tooltips on mobile devices
.has-tooltip.is-bottom,
.has-tooltip.is-left,
.has-tooltip.is-right {
  &::before,
  &::after {
    top: 100%;
    left: 50%;
  }

  &::before {
    border-bottom-color: var(--tooltip-background);
    translate: 0 calc(var(--tooltip-arrow-width) * -1);
  }

  &::after {
    translate: -50% (-$size-line);
  }

  &:hover,
  &:focus-visible,
  &:active {
    &::before {
      translate: 0;
    }

    &::after {
      translate: -50% var(--tooltip-arrow-width);
    }
  }
}

// Left
.has-tooltip.is-left {
  @media (--tablet) {
    &::before,
    &::after {
      top: auto;
      left: auto;
      right: 100%;
    }

    &::before {
      top: calc(50% - calc(var(--tooltip-arrow-width) / 2));
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: var(--tooltip-background);
      translate: $size-line;
    }

    &::after {
      top: 50%;
      translate: $size-line -50%;
    }

    &:hover,
    &:focus-visible,
    &:active {
      &::before {
        translate: 0;
      }

      &::after {
        translate: calc(var(--tooltip-arrow-width) * -1) -50%;
      }
    }
  }
}

// Right
.has-tooltip.is-right {
  @media (--tablet) {
    &::before,
    &::after {
      top: 0;
      left: 100%;
    }

    &::before {
      top: calc(50% - calc(var(--tooltip-arrow-width) / 2));
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: var(--tooltip-background);
      translate: -$size-line;
    }

    &::after {
      top: 50%;
      translate: -$size-line -50%;
    }

    &:hover,
    &:focus-visible,
    &:active {
      &::before {
        translate: 0;
      }

      &::after {
        translate: var(--tooltip-arrow-width) -50%;
      }
    }
  }
}
