// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.section {
  padding: ($size-line * 3) 0 ($size-line * 3 - .1rem);
  position: relative;

  h2 {
    padding-top: 0;
  }

  &.last {
    padding-bottom: ($size-line * 3);
  }

  // Multicolumn subsections
  &-halfs {
    column-count: 2;
  }

  &-thirds {
    column-count: 3;
  }

  &-halfs,
  &-thirds {
    column-gap: 24px;
    widows: 2;

    &-ul {
      margin-left: -1em;

      li {
        margin-left: 1em;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// MODIFICATIONS
// -----------------------------------------------------------------------------

.section.has-articles-list {
  padding: 1.3rem 0 0;

  @include media-breakpoint-up(md) {
    padding: 4.8rem 0 0;
  }
}

.main-header + .section.has-articles-list {
  padding: 0;
  margin-top: -1.7rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    padding: 4.8rem 0 0;
  }
}

.has-articles-list .section__title {
  position: relative;
  margin-bottom: .1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: .7rem;
  }
}

.has-articles-list .section__title .icon {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    position: absolute;
    top: 50%;
    left: calc(-1 * $size-4);
    transform: translateY(-40%);
  }
}
