@use '../../styles/abstracts' as *;

.snippet {
  position: relative;
  margin-bottom: $size-line * 2;

  &:not(:first-of-type) {
    border-top: 1px solid var(--color-ink-border);
    padding-top: $size-4 - rem(1);
  }

  &:first-of-type {
    padding-top: $size-4;
  }
}

.snippet__title {
  font-weight: 400;
  margin-bottom: $size-1;
}

.snippet__title > a {
  text-decoration: none;

  &::before {
    border-radius: $border-radius-base;
    content: '';
    position: absolute;
    top: $size-3;
    right: 0;
    bottom: $size-4;
    left: 0;
    overflow: hidden;
  }

  &:focus-visible {
    &::before {
      @include focus-ring;
    }
  }
}

.snippet__title .eyebrow {
  @include visually-hidden;
}
