.footer {
  background-color: $color-background-base;
  border-top: $color-ink-border;
  color: $color-ink-2ry;
  text-align: left;
  padding: 2.3rem 16px 4.2rem;

  @include media-breakpoint-up(md) {
    margin: 0 64px;
    padding: 0 0 7.4rem;
  }

  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

// Copyright

.footer-copyright {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .72);
  margin: 0;
}
