// stylelint-disable order/order

// -----------------------------------------------------------------------------
// RESET
// -----------------------------------------------------------------------------

// Bootstrap reset
// .btn {
//   border-radius: $border-radius;
//   border: 1px solid $transparent;
//   display: inline-block;
//   font-size: 1.6rem;
//   font-weight: 400;
//   line-height: 1.5;
//   padding: .375rem .75rem;
//   text-align: center;
//   transition:
//     color .15s ease-in-out,
//     background-color .15s ease-in-out,
//     border-color .15s ease-in-out,
//     box-shadow .15s ease-in-out;
//   user-select: none;
//   vertical-align: middle;
//   white-space: nowrap;
// }

%btn {
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  &:focus {
    outline: 0;
  }
}

.btn {
  @extend %btn;
}

// -----------------------------------------------------------------------------
// MODIFIACTORS
// -----------------------------------------------------------------------------

// Light green
.btn-cta-light,
%btn-cta-light {
  background-image: linear-gradient($color-brand-50,$color-brand-300);
  border: 1px solid $color-primary-shade-2;
  color: $color-brand-700;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;

  &:visited,
  &:not(:disabled):active {
    color: $color-brand-700;
  }
}

// Extends for secondary buttons
.btn.is-2ry,
.btn-2ry,
%btn-2ry {
  background-color: $color-background-base;
  background-image: none;
  border: 1px solid $color-ink-border;
  border-radius: $border-radius-pill;
  box-shadow: $box-shadow-z1;
  text-align: center;
  padding: 15px 16px;
  transition:
    background-color $duration-xs,
    box-shadow $duration-xs;

  &:hover {
    background-color: $color-background-2ry;
    box-shadow: $box-shadow-z2;
  }
}

%btn-compact {
  border: 0;
  width: 44px;
  height: 24px;
}

// -----------------------------------------------------------------------------
// CTA BUTTON
// -----------------------------------------------------------------------------

.btn.is-primary {
  background-image: $color-tertiary-gradient;
  border: 1px solid $color-ink-border;
  box-shadow:
    inset 0 2px 0 0 rgb(255 255 255 / .5),
    inset 0 0 0 1px rgba(255, 255, 255, .2),
    $box-shadow-z1;
  border-radius: $border-radius-xl;
  color: $color-ink-2ry;
  display: block;
  font-size: 100%;
  line-height: 1;
  padding: 15px 16px;
  transition: 1.6s box-shadow;

  // Relative for rotating labels animation
  position: relative;
  width: 100%;

  &:visited {
    color: $color-ink-2ry;
  }

  &:hover,
  &:focus {
    background-image: $color-tertiary-gradient-lighter;
    color: $color-ink-2ry;
    box-shadow:
      inset 0 1px 0 0 rgb(255 255 255),
      inset 0 0 0 1px rgba(255, 255, 255, .24),
      $box-shadow-z2;
    transform: translateY(-1px);
  }

  &:active {
    margin-top: 1px;
    padding: 16px 12px 14px;
  }

  &:not(:disabled):active {
    color: $color-ink-light-base;
  }

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.btn.is-lg {
  @include media-breakpoint-up(md) {
    padding: 15px 24px;

    &:active {
      margin-top: 1px;
      padding: 16px 24px 14px;
    }
  }
}


// LABEL ANIMATION

.btn.is-rotator,
%btn-rotator {
  overflow: hidden;
  min-height: 48px;
}

.btn-rotator-item {
  animation: rotateWords 24s ease-out 0s infinite;
  opacity: 0;

  // Each span inside button will be positioned absolutely for animation.
  // In order not to change its position in the hover position, top: 50%
  // and negative top margin are used.
  position: absolute;
  margin-top: -.8rem;
  top: 50%;
  left: 0;
  width: 100%;
  height: 24px;

  &:nth-child(2) {
    animation-delay: 12s;
  }
}

// The whole animation will run 24 seconds. Every span is visible during
// 12sec while another is hidden.
// 1) Delay between changes
// 2) Visible
// 3-4) Transition
// 5)
// stylelint-disable block-opening-brace-space-before, declaration-block-single-line-max-declarations, declaration-block-semicolon-newline-after
@keyframes rotateWords {
  0%   { opacity: 0; }
  1%   { opacity: 0; transform: translateY(0); } // 1
  4%   { opacity: 1; } // 2
  48%  { opacity: 1; transform: translateY(0); } //3
  50%  { opacity: 0; transform: translateY(-8px); } // 4
  100% { opacity: 0; } // 5
}

// -----------------------------------------------------------------------------
// CTA BUTTON MODIFICATIONS
// -----------------------------------------------------------------------------

.header > .btn.is-primary,
.navbar > .btn.is-primary,
.intro-section.is-highlight > .btn.is-primary,
.intro-section-footer > .btn.is-primary {
  @extend %btn-rotator;
  transition: unset;
}


// On phones show these ones
.intro-section.is-highlight > .btn.is-primary,
.intro-section-footer > .btn.is-primary {
  @include media-breakpoint-only(md) {
    display: none;
  }
}


// On tablets show this one
.header > .btn.is-primary {
  display: none;

  @include media-breakpoint-only(md) {
    display: block;
    position: absolute;
    top: 75px;
    right: 10px;
    width: 192px;
  }
}

// On desktops show this one
.navbar > .btn.is-primary {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

// On the first slide of the frontpage
.is-highlight .header > .btn.is-primary,
.is-highlight .navbar > .btn.is-primary,
.intro-section.is-highlight > .btn.is-primary {
  @extend %btn-cta-light;
}

// -----------------------------------------------------------------------------
// LINK STYLE
// -----------------------------------------------------------------------------

.btn.is-link {
  @extend %a;

  &:focus {
    box-shadow: none;
  }
}

// -----------------------------------------------------------------------------
// DISABLED
// -----------------------------------------------------------------------------

.btn.is-disabled {
  opacity: .5;
  pointer-events: none;
}

