@use 'sass:math';
@use '../config' as *;

// The semi-transparent border in the inner shadow style.
.border {
  @include border;

  > :is(iframe, img) {
    margin-bottom: 0;
    width: 100%;
  }
}

/* -----------------------------------------------------------------------------
 * FIGURES AND IFRAMES
 * -------------------------------------------------------------------------- */
// #region

// Remove the border on iframes in all browsers (opinionated)
iframe {
  border-style: none;
}

figure,
iframe {
  margin-top: 0;
  margin-bottom: $size-line;
}

figcaption {
  color: var(--color-ink-2ry);
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}
// #endregion

/* -----------------------------------------------------------------------------
 * IMAGES, VIDEO, SVG
 * -------------------------------------------------------------------------- */
// #region

img,
video {
  border-style: none;
  max-width: 100%;
  height: auto;
}


:where(.main, .content, .col-1\/1) img:not([class]):not(figure img) {
  margin-bottom: $size-line;
}

img:not([class]),
figure img {
  display: block;
}

// Hide the overflow in IE
svg:not(:root) {
  overflow: hidden;
}
// #endregion
