
// 1) Social Media Buttons. .btn-social, .btn-social.facebook etc
// 2) Like-n-Share dropdown widget. Facebook Like and share buttons.
// 2.1) Popover / Dropdown
// 3) Social Tools Transformer


// -----------------------------------------------------------------------------
// SOCIAL MEDIA BUTTONS
// -----------------------------------------------------------------------------
/* #region */

// inherited styles: inline-block;
.btn-social {   // 1
  @extend %btn-compact;
  color: $color-ink-light-normal;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  margin-right: 4px;
  padding: 0;
  opacity: .8;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }
}


// BUTTONS ROW

.social-tools-group {
  @include clearfix();
  padding-bottom: .8rem;

  .btn-social {
    // inline-block causes extra-margin. so let's them float
    float: left;
    margin-right: 8px;

    &.is-last {
      margin-right: 0;
    }
  }
}


// FACEBOOK BUTTONS

.btn-social.facebook-like,
.btn-social.facebook {
  background: var(--color-brand-facebook);
  opacity: 1;
  width: 96px;

  &:hover {
    background: var(--color-brand-facebook);
    color: var(--color-ink-light-normal);
  }
}

// Large Like button was positioned in container w/ overflow: hidden
.btn-social.facebook-like {
  line-height: 1;
  overflow: hidden;
  position: relative;

  > span {
    // In Chrome button aligned vertically only this way.
    transform: translateY(-.3rem);

    @-moz-document url-prefix('') {
      position: static;
    }
  }
}

.btn-social.facebook .icon {
  margin: 0 3px 2px 0;
}

// Wide icons
.btn-social.vk .icon,
.btn-social.twitter .icon,
.btn-social.google .icon, {
  width: 24px;
}

// VK
.btn-social.vk {
  background: rgb(94, 128, 172);
}

// Twitter
.btn-social.twitter {
  background: rgb(23, 148, 230);
}

// Telegram
.btn-social.telegram {
  background: rgb(0, 136, 204);
}

.icon-social-telegram {
  // Tweak visual centering
  transform: translate3d(-.1rem, -.1rem, 0);
}

// White icons
.btn-social.google,
.btn-social.mail {
  background: $color-background-tertiary;
  box-shadow: inset 0 -1px 0 0 $color-ink-border;
}

// Pocket
.btn-social.pocket {
  background: rgb(239, 66, 84);
}

// Linkedin shows on desktops and tablets
.btn-social.linkedin {
  @extend .d-none, .d-md-block;
  background: rgb(0, 118, 186);
}


// WhatsApp shows on phones
.btn-social.whatsapp {
  @extend .d-md-none;
  background: rgb(44, 211, 83);

  .icon {
    vertical-align: top;
  }
}

// Mail
.btn-social.mail .icon {
  transform: translate3d(0, -.2rem, 0);
}
/* #endregion */

// -----------------------------------------------------------------------------
// LIKE-N-SHARE DROPDOWN WIDGET
// -----------------------------------------------------------------------------
/* #region */

// On mobile buttons are showed in header.

.social-tools {
  // Hiding the widget until it's set to .is-mobile. However, I do not use
  // display: none to avoid the repeated reload Like button. But hide it on front
  // page to avoid it appearing on sliding.
  opacity: 0;
  position: fixed;
  top: 17px;
  right: 16px;
  transform: translateY(-56px);
  z-index: $zindex-fixed + 2;

  // On tablets and desktops
  @include media-breakpoint-up(md) {
    display: block;
    opacity: 1;
    position: static;
    top: auto;
    right: auto;
    transform: translateY(0);
    width: 100%;
    height: 24px;
  }

  @include media-breakpoint-up(lg) {
    width: 160px;
  }
}

.social-tools.is-mobile {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: transform .4s ease-in;

  .btn-share,
  .btn-social.facebook-like {
    position: absolute;
    top: 0;
  }

  .btn-social.facebook-like {
    margin: 0;
    right: 0;
  }

  .btn-share {
    // Cut Like on phones in portrait orientation
    right: 92px;

    @include media-breakpoint-up(sm) {
      // Restore natural width in landscape orientation
      right: 104px;
    }
  }
}


// POPOVER ON MOBILES

.social-tools.is-mobile > .dropdown-menu {
  margin-top: 38px;
  top: 100%;
  bottom: auto;
}

// First buttons line

.social-tools.is-mobile .social-tools-group.is-first {
  padding-top: 24px;

  @media (min-height: 460px) {
    padding-top: .1rem;
  }
}

// Image

.social-tools.is-mobile .card-media-top {
  // Hide it on portrait orientation
  display: none;

  @media (min-height: 460px) {
    display: block;
    border: 4px solid $color-ink-light-normal;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-z1;
    margin: 23px auto 0;
    width: 128px;
  }
}


// Heading

.social-tools.is-mobile h3 {
  // Hide it on portrait orientation
  display: none;

  @media (min-height: 460px) {
    display: block;
    padding: 1.6rem 23px 0;
  }
}

// DESKTOP
// Like-n-Share on first slide in front page carousel

.p-home .social-tools {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: 192px;
  }

  @include media-breakpoint-up(lg) {
    width: 160px;
  }
}

// Like-n-Share on first slide in front page carousel

.intro .social-tools {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 488px;
  right: 64px;
  transform: translateY(0);

  // Appearance
  transition:
    opacity $duration $easing ($delay * 2),
    transform $duration $easing ($delay * 2);

  @include media-breakpoint-up(lg) {
    top: 501px;
    right: 30px;
  }
}

// Like-n-Share on first slide

// Hide Like and Share on first slide.
.is-highlight .social-tools {
  opacity: 0;
  pointer-events: none;
  transform: translateY(48px);

  // Disappearance
  transition: opacity $duration-sm $easing, transform $duration-sm $easing;
}

// Buttons: Facebook Like and Share

.social-tools .btn-social {
  margin-top: 0;
}

.btn-share {
  background: $color-background-secondary;
  border: 0;
  box-shadow: inset 0 -1px 0 0 $color-ink-border;
  text-align: center;
  padding: 0 0 2px;
  opacity: 1;
  transition: background $duration-xs $easing;
  width: 44px;
  height: 24px;

  &:hover {
    background: $color-background-tertiary;
  }

  .icon {
    margin: -.1rem auto 0;
  }
}


// POPOVER / DROPDOWN

.social-tools > .dropup {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }

  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}

.social-tools-dropdown {
  background-color: $color-background-secondary;
  box-shadow: $box-shadow-z4;
  text-align: center;
  padding: 0 0 2.9rem;
  overflow: hidden;
  width: $panel-width-sm;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: auto;


    @include media-breakpoint-up(md) {
      right: -2.3rem;
    }

    @include media-breakpoint-up(lg) {
      right: -1.3rem;
    }
  }
}

// Heading

.social-tools-dropdown > h3 {
  @extend %headline-sm;
  color: $color-ink-normal;
  font-weight: 300;
  white-space: normal;
  text-transform: none;
  padding: 2.9rem 23px 1.9rem;
}

// Buttons containers

.social-tools-dropdown > .social-tools-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/* #endregion */

// -----------------------------------------------------------------------------
// SOCIAL TOOLS TRANSFORMER
// -----------------------------------------------------------------------------
/* #region */

.social-tools.is-transformer {
  width: auto;

  // Show social buttons (dropdown content) in footer on tablets and desktops.
  @include media-breakpoint-up(md) {
    margin-bottom: .4rem;
    padding-top: .4rem;

    > .dropdown-menu {
      // Remove background, borders, shadow.
      background: $transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      // Show as inline-block…
      display: inline-block;
      float: none;
      text-align: left;
      margin: 0;
      padding: 0;
      // …In static position.
      position: static;
      width: auto;
      min-width: 0;

      > .social-tools-group {
        display: inline-block;
        padding: 0;
      }

      &::after,
      &::before,
      .card-media-top,
      .social-tools-title {
        // Hide headline and image.
        display: none;
      }
    }

    .btn-share {
      // Hide Share button.
      display: none;
    }

    .facebook-like {
      float: left;
      margin-right: 8px;
    }

    .twitter {
      margin-right: 4px;
    }
  }
}
/* #endregion */
