// stylelint-disable selector-list-comma-newline-after, selector-no-qualifying-type

a {
  // Remove the gray background color from active links in IE 10.
  background: $transparent;
  transition: color .2s, background-color .2s;

  // Improve readability when focused and also mouse hovered in all browsers
  &:hover, &:active { outline: 0; }

  // Autoprefixer doesn’t support tap-highlight-color and touch-callout
  &:link { -webkit-tap-highlight-color: $transparent; }
  &[href^='#'], &[href^='javascript:'] { -webkit-touch-callout: none; }
}
// stylelint-enable selector-list-comma-newline-after, selector-no-qualifying-type

.link-tel {
  white-space: nowrap;

  i {
    color: lighten($link-color, 20%);
    font-style: normal;
  }

  @include media-breakpoint-up(lg) {
    color: $body-color;
    cursor: default;

    &:hover {
      color: $body-color;
      text-decoration: none;
    }

    i {
      color: lighten($body-color, 20%);
    }
  }
} // link-tel
