// stylelint-disable selector-list-comma-newline-after, selector-no-qualifying-type

a {
  // Remove the gray background color from active links in IE 10.
  background: $transparent;
  transition: color .2s, background-color .2s;

  // Improve readability when focused and also mouse hovered in all browsers
  &:hover, &:active { outline: 0; }

  // Autoprefixer doesn’t support tap-highlight-color and touch-callout
  &:link { -webkit-tap-highlight-color: $transparent; }
  &[href^='#'], &[href^='javascript:'] { -webkit-touch-callout: none; }
}
// stylelint-enable selector-list-comma-newline-after, selector-no-qualifying-type

.link-tel {
  white-space: nowrap;

  i {
    color: lighten($link-color, 20%);
    font-style: normal;
  }

  @include media-breakpoint-up(lg) {
    color: $body-color;
    cursor: default;

    &:hover {
      color: $body-color;
      text-decoration: none;
    }

    i {
      color: lighten($body-color, 20%);
    }
  }
} // link-tel

.chevron-right,
%chevron-right {
  @include chevron-right();
}


// -----------------------------------------------------------------------------
// Links w/ chevrons: prev, next (more), modal
// -----------------------------------------------------------------------------

.chevron-right-white,
%chevron-right-white {
  @include chevron-right-white();
}

.chevron-left,
%chevron-left {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Echevron-left%3C%2Ftitle%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M-10%200H5v15h-15z%22%2F%3E%3Cpath%20d%3D%22M-5.296%206.704l3.565-3.96.669-.744L.425%203.338l-.67.743-2.997%203.331%202.998%203.331.669.744-1.487%201.338-.669-.744-3.565-3.96L-6%207.486l.067-.075L-6%207.338l.704-.634z%22%20fill%3D%22%23B5B8BC%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: 100% .5rem;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 16px;

  &:hover {
    color: $link-color;
  }
}

.chevron-top-right,
%chevron-top-right {
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Echevron-right-top%3C%2Ftitle%3E%3Cdefs%3E%3Cfilter%20x%3D%22-50%25%22%20y%3D%22-50%25%22%20width%3D%22200%25%22%20height%3D%22200%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22a%22%3E%3CfeOffset%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%2F%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%2F%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200.82745098%200%200%200%200%200.839215686%200%200%200%200%200.854901961%200%200%200%200.7%200%22%20in%3D%22shadowBlurOuter1%22%20result%3D%22shadowMatrixOuter1%22%2F%3E%3CfeMerge%3E%3CfeMergeNode%20in%3D%22shadowMatrixOuter1%22%2F%3E%3CfeMergeNode%20in%3D%22SourceGraphic%22%2F%3E%3C%2FfeMerge%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23F1F4F8%22%20filter%3D%22url(%23a)%22%20cx%3D%227.5%22%20cy%3D%227.5%22%20r%3D%227.5%22%2F%3E%3Cpath%20fill%3D%22%23B5B8BC%22%20d%3D%22M5%205h5v2H5z%22%2F%3E%3Cpath%20fill%3D%22%23B5B8BC%22%20d%3D%22M8%205h2v5H8z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 100% .2rem;
  padding-right: 20px;


  &:hover {
    color: $link-color;
  }
}

.chevron-down,
%chevron-down {
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Echevron-right-top%3C%2Ftitle%3E%3Cdefs%3E%3Cfilter%20x%3D%22-50%25%22%20y%3D%22-50%25%22%20width%3D%22200%25%22%20height%3D%22200%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22a%22%3E%3CfeOffset%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%2F%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%2F%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200.82745098%200%200%200%200%200.839215686%200%200%200%200%200.854901961%200%200%200%200.7%200%22%20in%3D%22shadowBlurOuter1%22%20result%3D%22shadowMatrixOuter1%22%2F%3E%3CfeMerge%3E%3CfeMergeNode%20in%3D%22shadowMatrixOuter1%22%2F%3E%3CfeMergeNode%20in%3D%22SourceGraphic%22%2F%3E%3C%2FfeMerge%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23F1F4F8%22%20filter%3D%22url(%23a)%22%20cx%3D%227.5%22%20cy%3D%227.5%22%20r%3D%227.5%22%2F%3E%3Cpath%20fill%3D%22%23B5B8BC%22%20d%3D%22M5%205h5v2H5z%22%2F%3E%3Cpath%20fill%3D%22%23B5B8BC%22%20d%3D%22M8%205h2v5H8z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 100% .3rem;

  &:hover {
    color: $link-color;
  }
}

// No underlined links w/ chevrons
.link.is-forward,
.link-more,
.link-next,
.link-go {
  @extend %chevron-right;
  @extend %icon-on-right;

  &.medium-right {
    @extend %icon-font-medium-right;
  }
}

.link-modal {
  @extend %chevron-top-right;
}
