---
layout: default
---

<main class="main col-1/1">
  <div class="container">
    <h1 class="main__title">{{ page.title }}</h1>
    <ol class="messages">
      <li class="message">
        <figure class="avatar" data-content="D" aria-label="Avatar with initial D"></figure>
        <div class="message__base">
          <header>
            <span class="message__author"> Denis Danilov </span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Большое спасибо за отличную работу! Сайт получился просто великолепным!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="A" aria-label="Avatar with initial A"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Алексей Иванов</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Ваши дизайнерские навыки просто поражают! Я в восторге от конечного результата.</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar is-she" aria-label="Avatar for female"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Марина Смирнова</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Спасибо за терпение и внимательное отношение к деталям. Сайт выглядит потрясающе!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar is-he" aria-label="Avatar for male"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Игорь Петров</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Вы превзошли все мои ожидания! Дизайн и функциональность на высоте.</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="О" aria-label="Avatar with initial O"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Ольга Сидорова</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Очень довольны сотрудничеством! Рекомендуем всем, кто ищет профессионального веб-дизайнера.</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="Е" aria-label="Avatar with initial E"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Екатерина Кузнецова</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Ваше креативное видение и профессионализм помогли создать настоящий шедевр!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="В" aria-label="Avatar with initial В"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Владимир Павлов</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Сайт, который вы для нас сделали, привлек множество новых клиентов. Огромное спасибо!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="А" aria-label="Avatar with initial А"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Анна Михайлова</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Ваш подход к работе и внимание к нашим потребностям были на высшем уровне.</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="Д" aria-label="Avatar with initial Д"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Дмитрий Орлов</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Безумно рады, что выбрали именно вас! Сайт работает идеально и выглядит супер стильно.</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="С" aria-label="Avatar with initial С"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Светлана Васильева</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Благодарим за оперативность и качественную работу. Будем рады сотрудничать снова!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="М" aria-label="Avatar with initial М"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Михаил Александров</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Вы воплотили все наши идеи в реальность. Дизайн сайта превзошел все ожидания!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="Ю" aria-label="Avatar with initial Ю"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Юлия Волкова</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Сайт получился не только красивым, но и очень удобным в использовании. Спасибо!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="А" aria-label="Avatar with initial А"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Андрей Николаев</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Каждая страница сайта – произведение искусства. Вы настоящий профессионал!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="Е" aria-label="Avatar with initial E"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Елена Сергеева</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Благодаря вашему дизайну наш бренд выглядит свежо и современно. Спасибо!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="С" aria-label="Avatar with initial С"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Сергей Фролов</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Ваши советы и рекомендации были бесценны. Результат превосходный!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="Н" aria-label="Avatar with initial Н"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Наталья Романова</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Работать с вами было одно удовольствие. Сайт просто замечательный!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="И" aria-label="Avatar with initial И"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Иван Белов</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Отличная работа! Мы получаем множество положительных отзывов о нашем новом сайте.</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="Л" aria-label="Avatar with initial Л"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Лариса Степанова</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Ваше мастерство и креативность не знают границ. Спасибо за превосходный сайт!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="К" aria-label="Avatar with initial К"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Константин Жуков</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">С вами было легко и приятно работать. Сайт получился выше всяких похвал!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
      <li class="message">
        <figure class="avatar" data-content="В" aria-label="Avatar with initial В"></figure>
        <div class="message__base">
          <header>
            <span class="message__author">Виктория Лебедева</span>
            <time datetime="2024-07-21 20:00">час назад</time>
          </header>
          <div class="message__body">Ваша работа впечатлила всю нашу команду. Сайт выглядит фантастически!</div>
          <footer><button class="btn is-ghost" type="button">Ответить</button></footer>
        </div>
      </li>
    </ol>
  </div>
</main>
