---
layout: default
---

{% if page.is-index %}
<main class="main col-1/1">
  <div class="container">
    {{ content }}
  </div>
</main>

{% else %}
<article class="main col-1/1" itemscope itemtype="http://schema.org/Article">
  <div class="container">
    <h1 class="main__title" itemprop="headline">
      {{ page.title }}
    </h1>

    {% if page.description %}
      <p class="main__lead" itemprop="description">
        {{ page.description }}
      </p>
    {% endif %}
    {{ content }}
  </div>
</article>
{% endif %}
