---
layout: default
---

<article class="main col-1/1" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- Back -->
  <a class="btn is-back" href="/ru/blog" aria-label="К материалам блога">
    {% include icon.html name="chevron-left" %}
    <img src="/assets/img/components/logo/supermark-logomark-xs.svg" alt="Фирменный знак SuperMark'а">
    <span>Блог</span>
  </a>

  <div class="container">
    <span class="visually-hidden" itemprop="author">Владимир Никишин</span>
    <span class="visually-hidden" itemprop="publisher">Владимир Никишин</span>

    <h1 class="main__title" itemprop="headline">
      {{ page.title }}
    </h1>

    {% if page.image %}
    <figure class="border">
      <img src="{{ site.assets }}/{{ page.image }}" itemprop="image" alt="{{ page.title | strip_html }}">
    </figure>
    {% endif %}

    {% if page.description %}
      <p class="main__lead" itemprop="description">
        {{ page.description }}
      </p>
    {% endif %}

    <div class="main__body" itemprop="articleBody">
      {{ content }}

      {% comment %} META {% endcomment %}
      <footer class="main__meta meta">

        {% include date.html %}

        {% comment %} Tags {% endcomment %}
        {% if page.categories[0] %}
        <div class="meta__tags">
          {% assign categories = page.categories %}
          {% if categories != "" or categories != nil %}
            {% include icon.html name="tag" %}
          {% endif %}
          {% for category in categories %}
            <a class="meta__tag" href="{{ site.url }}/ru/blog/categories#{{ category | slugify | uri_escape }}" rel="tag">{{category}}</a>{%- unless forloop.last -%}, {%- endunless -%}
          {% endfor %}
        </div>
        {% endif %}
      </footer>

    </div>
  </div>
</article>
