// woff2 and woff are enough
@font-face {
  font-family: 'Cisco Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$site-assets}/fonts/CiscoSans.woff2') format('woff2'),
    url('#{$site-assets}/fonts/CiscoSans.woff') format('woff');
}

@font-face {
  font-family: 'Cisco Sans';
  font-style: normal;
  font-weight: bold;
  src:
    url('#{$site-assets}/fonts/CiscoSans-Bold.woff2') format('woff2'),
    url('#{$site-assets}/fonts/CiscoSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Cisco Sans';
  font-style: normal;
  font-weight: 200;
  src:
    url('#{$site-assets}/fonts/CiscoSans-ExtraLight.woff2') format('woff2'),
    url('#{$site-assets}/fonts/CiscoSans-ExtraLight.woff') format('woff');
}
