// -----------------------------------------------------------------------------
// SHARED STYLES
// -----------------------------------------------------------------------------

// Cross-browser macOS-like scrollbar

@mixin scrollbar(
  $size: $size-1p5,
  $thumb-bg: $color-ink-border,
  $track-bg: transparent
) {
  // The emerging W3C standard that is currently Firefox-only
  scrollbar-width: auto;
  scrollbar-color: $thumb-bg $track-bg;

  // Chrome/Edge/Safari
  &::-webkit-scrollbar {
    background-color: $track-bg;
    width: $size;
  }

  &::-webkit-scrollbar-track {
    background: $track-bg;
  }

  // Handle
  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: $thumb-bg;
    border-radius: $border-radius-pill;
    border: 2px solid transparent;
  }
}

@mixin standard-focus {
  &:focus-visible {
    outline: $size-half solid var(--box-shadow-focus-outline);
    outline-offset: 2px;
  }
}
