@use 'sass:math';

.nobr {
  white-space: nowrap;
}

.is-col {
  flex-direction: column;
}

.has-gap-2 {
  gap: $size-2;
}

.is-centered {
  align-items: center;
}


// Spacing
@include media-breakpoint-up(md) {
  .pl-md-half {
    padding-left: math.div($size-1, 2);
  }

  .pr-md-half {
    padding-right: math.div($size-1, 2);
  }

  .pl-md-2 {
    padding-left: ($size-1 * 2);
  }

  .pr-md-2 {
    padding-right: ($size-1 * 2);
  }
}


// Sizing
.h-auto {
  height: auto !important;
}
