@use 'sass:math';

/* stylelint-disable scss/dollar-variable-pattern, string-quotes, declaration-colon-space-after, no-duplicate-selectors */

$site-assets: '/assets';

// -----------------------------------------------------------------------------
// 🎨 COLORS
// -----------------------------------------------------------------------------
/* #region */

// Palette
$red:    hsl(10 100% 74%);
$orange: hsl(35 100% 50%);
$yellow: hsl(60 100% 44%);
$green:  hsl(130 100% 40%);
$blue:   hsl(200 100% 59%);
$magenta: hsl(305 100% 75%);

$transparent: rgb(0 0 0 / 0);

$color-brand-900: hsl(35 100% 19%);
$color-brand-800: hsl(35 100% 26%);
$color-brand-700: hsl(35 100% 34%);
$color-brand-600: hsl(35 100% 41%);
$color-brand-500: hsl(35 100% 50%);
$color-brand-400: hsl(35 100% 66%);
$color-brand-300: hsl(35 100% 76%);
$color-brand-200: hsl(35 100% 86%);
$color-brand-100: hsl(35 100% 93%);
$color-brand-50:  hsl(35 100% 98%);

// COLOR ROLES

// Bootstrap colors to "generate families of related CSS".
$theme-colors: (
  primary:   $color-brand-500,
  secondary: $magenta,
  success:   $green,
  info:      $blue,
  warning:   $yellow,
  danger:    $red
);

// Main palette
$color-primary:         $color-brand-500;
$color-primary-shade-1: darken($color-brand-500, 2%);
$color-primary-shade-2: darken($color-brand-500, 7%);
$color-primary-tint-1:  lighten($color-brand-500, 4%);

$color-2ry:          $magenta;
$color-2ry-gradient: linear-gradient($magenta, darken($magenta, 15%) 80%, darken($magenta, 6%));

$color-tertiary-gradient:         linear-gradient(hsl(35 10% 94%), hsl(35 10% 84%));
$color-tertiary-gradient-lighter: linear-gradient(hsl(35 10% 99%), hsl(35 10% 89%));

$color-success: $green;
$color-info:    $blue;
$color-warning: $yellow;
$color-danger:  $red;

$color-background-base: hsl(35 10% 92%);
$color-background-2ry: hsl(35 10% 96%);
$color-fill-lightest: hsl(35 10% 99%);

$color-background-negative: hsl(35 10% 18%);
$color-background-success:  lighten($color-success, 52%);
$color-background-info:     lighten($color-2ry, 37%);
$color-background-warning:  lighten($color-warning, 6%);
$color-background-danger:   lighten($red, 23%);
$color-ink-alert:           rgb(0 0 0 / .87);

// Inks
$color-ink-accent: $color-brand-700;
$color-ink-base:   hsl(35 10% 29%);
$color-ink-2ry:    hsl(35 10% 43%);
$color-ink-3ry:    hsl(35 10% 52%);
$color-ink-icon:   hsl(35 10% 64%);
$color-ink-border: hsl(35 10% 80%);
$color-ink-min:    hsl(35 10% 10% / .04);
$color-ink-link:   darken($blue, 24%);

$color-ink-on-highlight-base:     $color-brand-900;
$color-ink-on-highlight-2ry:      $color-brand-800;
$color-ink-on-highlight-3ry:      $color-brand-800;
$color-ink-on-highlight-inverted: hsl(35 100% 99%);

$color-ink-light-base: hsl(0 0% 100% / .87);
$color-ink-light-2ry:  hsl(0 0% 100% / .54);
$color-ink-light-3ry:  hsl(0 0% 100% / .38);

$color-brightness-up:   brightness(1.2);
$color-brightness-down: brightness(.8);
/* #endregion */

// -----------------------------------------------------------------------------
// 📰 LAYOUT, SPACING AND SIZING
// -----------------------------------------------------------------------------
/* #region */

$size-half: .4rem;
$size-1:    .8rem;
$size-1p5:  $size-1 * 1.5;
$size-2:    $size-1 * 2;
$size-2p5:  $size-1 * 2.5;
$size-3:    $size-1 * 3;
$size-4:    $size-1 * 4;
$size-5:    $size-1 * 5;
$size-6:    $size-1 * 6;
$size-7:    $size-1 * 7;
$size-8:    $size-1 * 8;
$size-line: $size-3;

$spacers: (
  0:   0,
  sm:  $size-1,
  2sm: $size-1 * 2,
  1:   $size-line,
  2:   $size-line * 2,
  3:   $size-line * 3
);

$grid-breakpoints: (
  xs: 0,
  sm: 568px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-columns:      12;
$grid-gutter-width: 0;
$grid-gutter-sm:    16px;
$grid-gutter-md:    24px;
$grid-gutter-lg:    32px;

$sizes: (
  25: 25%,
  50: 50%,
  65: 65%,
  70: 70%,
  75: 75%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
  auto: auto
);

$mq-resolution-retina: 'print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi)';
/* #endregion */

// -----------------------------------------------------------------------------
// 🔠 TYPOGRAPHY
// -----------------------------------------------------------------------------
/* #region */

// stylelint-disable indentation

// Neo-grotesque is our everything
$font-family-base:
 -apple-system,
  BlinkMacSystemFont,
  Inter,
  Roboto,
 'Helvetica Neue',
 'Arial Nova',
 'Nimbus Sans',
  Arial,
  sans-serif,
 'Apple Color Emoji',
 'Segoe UI Emoji',
 'Segoe UI Symbol',
 'Noto Color Emoji';

$headings-font-family: $font-family-base;

// stylelint-enable

$body-baseline-shift:        math.div($size-line, 4);

$display-1-font-size:        $size-8;
$display-1-line-height:      $size-7;

$display-2-font-size:        $size-5;
$display-2-line-height:      line-height(40);

$headline-lg-font-size:      $size-4;
$headline-lg-line-height:    1;
$headline-lg-font-weight:    400;
$headline-lg-baseline-shift: $size-2;
$headline-lg-margin-bottom:  $size-2;

$headline-md-font-size:      $size-3;
$headline-md-line-height:    line-height(24);
$headline-md-font-weight:    500;
$headline-md-baseline-shift: 2.4rem;
$headline-md-margin-bottom:  .1rem;

$headline-sm-font-size:      $size-2p5;
$headline-sm-line-height:    line-height(20);
$headline-sm-baseline-shift: 0;
$headline-sm-margin-bottom:  0;

$headline-xs-baseline-shift: $size-line + $body-baseline-shift;

$font-size-base:             $size-2;
$line-height-base:           1.5;

$font-size-sm:               $size-1p5;
$line-height-sm:             1.333;
$padding-top-small:          $size-half;
$padding-bottom-small:       $size-half;
/* #endregion */

// -----------------------------------------------------------------------------
// 🍱 COMPONENTS BOXES
// -----------------------------------------------------------------------------
/* #region */
$border-width: 1px;

// BOX BORDER RADIUS

// Alerts, Cards, Rectangular Images, Tooltips
$border-radius-sm:   3px;

// Buttons
$border-radius:      6px;

// Dropdowns, Modal Bottom Sheets, Pickers, Sticky Blocks, Popovers
$border-radius-lg:   12px;

// Modals
$border-radius-xl:   24px;

$border-radius-pill: 100vmax;


// BOX SHADOWS

// Raised buttons, Cards, Alerts, App Bar, Bottom Navigation Bar, Switches
$box-shadow-z1: 0 1px 0 hsl(35 10% 10% / .06);

// FAB, Raised Button hover state, Snackbars
$box-shadow-z2:
  0 2px 4px -1px hsl(35 10% 10% / .24),
  0 8px 16px -4px hsl(35 10% 10% / .12);

// Drawers, Dropdowns, Modal Bottom Sheets, Pickers, Sticky Blocks
$box-shadow-z3:
  0 9px 10px -3px hsl(35 10% 10% / .21),
  0 18px 34px -7px hsl(35 10% 10% / .12);

// Popovers, Tooltips
$box-shadow-z4:
  0 16px 17px -5px hsl(35 10% 10% / .19),
  0 29px 53px -10px hsl(35 10% 10% / .12);

// Modals
$box-shadow-z5:
  0 24px 24px -8px hsl(35 10% 10% / .16),
  0 40px 72px -12px hsl(35 10% 10% / .12);

$box-shadow-focus-outline: 0 0 0 $size-half rgba($blue, .4);

// BOX PADDINGS

// Modals, Cards, Alerts, Drawers, Dropdowns, Modal Bottom Sheets, Pickers, Sticky Blocks, Popovers, Tooltips
$box-padding-on-mobile:                  $size-line $size-2;

// Cards, Alerts, Drawers, Dropdowns, Modal Bottom Sheets, Pickers, Sticky Blocks, Popovers, Tooltips
$box-padding-on-tablets-and-desktops-sm: $size-line;

// Modals
$box-padding-on-tablets-and-desktops-lg: ($size-line * 2);


// BOX MARGINS

// Cards in Grid, Modal Bottom Sheets
$box-margin-bottom-sm: $size-1;

// Cards, Alerts
$box-margin-bottom:    $size-line;

// PANELS WIDTH

// Tooltips,
$panel-width-xs: 160px;

// Tooltips
$panel-width-sm: 272px;

// Dropdowns, popovers, tablet and desktop drawers
$panel-width:    320px;

// Wide drawers
$panel-width-lg: 544px;

// Modals
$panel-width-xl: 720px;

// ANIMATION & TRANSITIONS

// Micro-interactions such as button and toggle
$duration-xs:  .07s;

// Micro-interactions such as fade
$duration-sm:  .11s;

// Micro-interactions, small expansion, short distance movements
$duration:     .15s;

// Expansion, system communication, toast
$duration-lg:  .24s;

// Large expansion, important system notifications
$duration-xl:  .4s;

// Background dimming
$duration-xxl: .7s;

$easing:               cubic-bezier(.4, 0, .2, 1);
$easing-appearance:    cubic-bezier(0, 0, .2, 1);
$easing-disappearance: cubic-bezier(.4, 0, 1, 1);
$delay:                .05s;

/* #endregion */

//------------------------------------------------------------------------------
// 🗺 BOOTSTRAP MAPPING
// -----------------------------------------------------------------------------
/* #region */

$body-bg:                 $color-background-base;
$body-color:              $color-ink-base;
$dropdown-bg:             $color-background-2ry;
$input-placeholder-color: $color-ink-3ry;
$link-color:              darken($blue, 20%);
$paragraph-margin-bottom: $size-line;
/* #endregion */

//------------------------------------------------------------------------------
// 💜 ICONS
// -----------------------------------------------------------------------------
// #region
// $icon-chevron-right: svg-load('/web/src/base/icons/svg-bg/icon-chevron-right.svg');
// #endregion
